<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 padding-null tittlediv">
      <div class="flexrow space-between align-center"> 
      <h3 class="item-heading">Disposal Approvals </h3>
    

      <div> 
      <img style="display: none;" src="../assets/images/grid1.png">
      <button  class="btn btn-transparent" (clickOutside)="onClickedOutside($event)"  [exclude]="'.filter-section,.submenu'" (click)="split()">  {{showfilterstext}}  </button>  
      <div ngbDropdown placement="bottom-right" style="padding:0px;" class="d-inline-block">
        <button class="btn customdropdown btn-transparent " style="background:none;border:none;padding:0px;" id="dropdownBasic1" ngbDropdownToggle>
          <i class="fa-solid fa-bars"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Email</button>
        </div>
      </div>
    </div>
</div>



<div class="left-section"   [class.display-filters]="!showfilters" >
  <div class="filter-section">
    <div class="flexrow space-between"> 
      <div class="left-search">
        <input type="text" placeholder="Search requests..." class="search-filter">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="filter-icon">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </div>
</div>
      <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="filter-scroll"> 
      <table class="table">
        <tr>
          <td>
            <h5 class="sub-heading"> Laptops</h5>
            <label class="label-text">Category</label> :
            <label class="label-value">Electronics</label>
            <label class="label-text">Item Type</label> :
            <label class="label-value">Computer</label>
            <label class="label-text">Qty in Hand </label> :
            <label class="label-value">2000</label>
          </td>
        </tr>
        <tr>
          <td>
            <h5 class="sub-heading"> Keyboards</h5>
            <label class="label-text">Category</label> :
            <label class="label-value">Electronics</label>
            <label class="label-text">Item Type</label> :
            <label class="label-value">Computer</label>
            <label class="label-text">Qty in Hand </label> :
            <label class="label-value">2000</label>
          </td>
        </tr>

        <tr>
          <td>
            <h5 class="sub-heading"> Chairs</h5>
            <label class="label-text">Category</label> :
            <label class="label-value">Electronics</label>
            <label class="label-text">Item Type</label> :
            <label class="label-value">Computer</label>
            <label class="label-text">Qty in Hand </label> :
            <label class="label-value">2000</label>
          </td>
        </tr>
        <tr>
          <td>
            <h5 class="sub-heading">Tables</h5>
            <label class="label-text">Category</label> :
            <label class="label-value">Electronics</label>
            <label class="label-text">Item Type</label> :
            <label class="label-value">Computer</label>
            <label class="label-text">Qty in Hand </label> :
            <label class="label-value">2000</label>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


    </div>
  </div>
  <div class="row">
   
    <!-- left col end here-->

<div  #rightPanel class="rightPanel col-lg-12 col-md-12"  [class.expand-rightcol]="rightsection">
<form    class="form-horizontal">
  
 <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="rightcol-scrroll">
    <div class="row fullScreenLabel">
        <div class="col-12">
            <h3 class="item-heading" style="float:none;">Disposal Approvals</h3>
        </div>
    </div>
  <div class="form-group row">
      <label class="col-form-label col-xl-2 col-sm-6 col-6 form-label">Location </label>  
      <div class="col-xl-4 col-sm-6 col-6">
        <label class="col-form-label form-text"  ><b style="color:#01548e">Engineering Department</b> </label>     
      </div>
  </div>
  
   <div class="form-group row">
      <label class="col-form-label col-xl-2 col-sm-6 col-6 form-label">Requested By </label>  
      <div class="col-xl-4 col-sm-6 col-6">   
 <label class="col-form-label form-text"  >Williams</label> 
      </div>
     
  </div> 
  
<div class="form-group row">
<label class="col-form-label col-xl-2 col-sm-6 col-6 form-label">Date</label>  
      <div class="col-xl-4 col-sm-6 col-6">
            <label class="col-form-label form-text"  >10-Aug-2017</label> 
 
      </div>  
</div>



        <div class="form-group row">
          <div class="col-12  table-responsive" [ngStyle]="{'max-width.px': screenWidth}"> 
            <table class="table table-border"  >
              <tr>
                <th>S. no.</th>
                <th>Item Name </th>
                <th>Qty. in hand</th>
                <th>Disposal Qty</th>
                <th>Reason</th>
              </tr>

              <tr>
                <td> 1 </td>
                <td>Laptops </td>
                <td>100 </td>
                <td>100 </td>
                <td>Lorem Ipsum dummy text </td>
              </tr>

              <tr>
                <td> 2 </td>
                <td>Laptops </td>
                <td>100 </td>
                <td>100 </td>
                <td>Lorem Ipsum dummy text </td>
              </tr>

              <tr>
                <td> 3 </td>
                <td>Laptops </td>
                <td>100 </td>
                <td>100 </td>
                <td>Lorem Ipsum dummy text </td>
              </tr>

            </table>

          </div>

        </div>


        <div class="form-group row">
          <label class="col-form-label col-xl-12 col-sm-12 col-12 form-label">Clarification Remarks</label>
          <div class="col-xl-12 col-sm-12 col-12">
            <textarea id="priority" name="priority" formControlName="priority" placeholder="Priority" class="form-control" style="width:70%;display:inline-block ">
</textarea>
            <button type="submit" style="float:inherit;vertical-align: top;" (click)="editdata()" class="btn btn-edit">
              <i class="fa fa-envelope" aria-hidden="true"></i> Send for Clarification</button>

          </div>
        </div>



  </div>

  <div class="form-group text-right btn-list">
    <button type="submit" (click)="editdata()" class="btn btn-approve"  ><i class="fa fa-check" aria-hidden="true"></i> Approve</button>
   <button type="submit"  class="btn btn-delete"  ><i class="fa fa-ban" aria-hidden="true"></i> Reject</button>
 </div>
 
</form>
</div><!-- left col end here-->
</div>
 </div>
