<div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-12 padding-null tittlediv">
      <h3 class="item-heading"><img src="../assets/images/icon1.png"> Purchase Order > Expenses </h3>
  </div>
  <div class="col-md-6 col-sm-12 align-text-top" style="text-align:right">
      <img src="../assets/images/add-new.png" (click)="addRecord();" *ngIf="hideText">  
      <img src="../assets/images/grid1.png"  (click)="showFullScreen()">
      <!-- <img src="../assets/images/grid2.png">  -->
  </div>
  </div>
  <div class="row">
   <div class="col-lg-3 col-md-4 leftdiv"  [CustomSpinner]="showLeftPanelLoadingIcon"   [class.collapse-leftcol]="leftSection">   
  <div class="left-section"> 
  <div class="filter-section" ngbDropdown #myDrop="ngbDropdown">
    <div class="left-search">
      <input type="text" placeholder="Search requests..." class="search-filter" [(ngModel)]="searchKey" (keyup)="onSearch($event)">
      <i class="fa fa-search" aria-hidden="true"></i>
      <div class="filter-popup" *ngIf="showFilterPopUp" ngbDropdownMenu aria-labelledby="dropdownManual" (click)="$event.stopPropagation();">
          <form [formGroup]="expenseFilterForm" class="form-horizontal">
              <div class="form-group row">
                    <label class="col-form-label col-6 form-label">Expense Type</label>  
                    <div class="col-6">
                        <select class="form-control drp_dwn" formControlName="ExpensesTypeId" class="form-control">
                            <option [ngValue]="undefined">--Select--</option>
                            <option *ngFor="let expenseRecord of expenseTypes" [value]="expenseRecord.ExpensesTypeId">
                                {{ expenseRecord.ExpensesType }}
                            </option>
                        </select>
                        <div *ngIf="hideInput && expenseFilterForm.get('ExpensesTypeId') && expenseFilterForm.get('ExpensesTypeId').errors!=null && expenseFilterForm.get('ExpensesTypeId').touched==true">
                            <span class="errorMessage" *ngIf="expenseFilterForm.get('ExpensesTypeId').errors.required">Expense Type is required</span>
                        </div> 
                    </div>
              </div>
              <div class="form-group row">
                  <label class="col-form-label col-6 form-label">Department</label>
                  <div class="col-6">
                       <select  appAutofocus formControlName="LocationID" class="form-control">
                            <option [ngValue]="null">--Select--</option>
                            <option *ngFor="let record of departments" [value]="record.LocationID">
                             {{record.Name}}
                            </option>
                        </select>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-12 error">
                      {{filterMessage}}
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-12" style="text-align: right">
                      <button type="submit" (click)="filterData()" class="btn btn-save">
                          <i class="fa fa-check" ria-hidden="true"></i> Apply</button>
                      <button type="submit" (click)="resetFilters()" class="btn btn-save">
                          <i class="fa fa-check" aria-hidden="true"></i> Reset</button>
                  </div>
              </div>
          </form>
      </div>
    </div>  
    <!-- start filter code -->
    <div class="filter-icon">
        <button id="dropdownManual" ngbDropdownToggle (click)="openDialog()">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </button>
    </div>
    <div class="filter-icon" *ngIf="isFilterApplied" (click)="resetData()">
        <i class="fa fa-undo" aria-hidden="true"></i>
    </div>                    
    <!-- end filter code -->
    <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="filter-scroll" style="width:100%; float:left;">
      <table class="table">
        <tr [class.activerow]="record.ExpensesMasterId==selectedRecordDetails.ExpensesMasterId" (click)="onRecordSelection(record.ExpensesMasterId)" *ngFor="let record of expensesList">
          <td>
            <label class="label-text">Expense Detail</label> :<label class="label-value">{{ record.ExpensesDetail }}</label>
            <br>
            <label class="label-text">Expense Type</label> :<label class="label-value">{{ record.ExpensesType }}</label>
            <br>
            <label class="label-text">Department</label> :<label class="label-value">{{ record.Location }}</label>        
          </td>
        </tr>
      </table>
      <div *ngIf="expensesList.length==0" class="col-12  listErrorMessage">
          {{errorMessage}}
      </div> 
      <ngb-pagination [maxSize]="5" *ngIf="expensesList.length>0" (pageChange)="pageChange($event)" [collectionSize]="expenseMasterPagerConfig.TotalRecords" class="d-flex justify-content-center" [pageSize]="expenseMasterPagerConfig.RecordsToFetch" [page]="currentPage" [boundaryLinks]="true"></ngb-pagination>
    </div>   
  </div>  
  </div>
  <div class="split-line" (click)="split()"></div> 
  </div><!-- left col end here-->
  
  <div  #rightPanel [CustomSpinner]="showRightPanelLoadingIcon" class="rightPanel col-lg-9 col-md-8" [class.expand-rightcol]="rightSection">
        <div class="fullScreenLabel">    <app-header></app-header> </div>  
  <form  [ngClass]="{'hideRightPanel':(expensesList.length==0 && hideText==true)}" [formGroup]="expenseMasterForm"  class="form-horizontal" >
      <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="rightcol-scrroll">
        <div class="row fullScreenLabel">
            <div class="col-12">
                <h3 class="item-heading" style="float:none;">Expenses</h3>
            </div>
        </div>
        <!-- <div  *ngIf="hideText" class="form-group row">
          <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Asset Code</label>  
          <div class="col-xl-4 col-sm-6 col-12">
            <label class="col-form-label form-text"><b style="color:#01548e">{{ selectedRecordDetails.AssetCode }}</b></label>  
          </div>
        </div> -->
        <div class="form-group row">
            <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Expense Detail<i class="fa fa-star mandatory-icon" *ngIf="hideInput" aria-hidden="true"></i></label>  
            <div class="col-xl-4 col-sm-6 col-12">
              <input type="text" formControlName="ExpensesDetail" maxlength="100" placeholder="Name" *ngIf="hideInput" class="form-control">
              <label class="col-form-label form-text" *ngIf="hideText"><b style="color:#01548e">{{ selectedRecordDetails.ExpensesDetail }}</b></label>  
              <div *ngIf="hideInput && expenseMasterForm.get('ExpensesDetail') && expenseMasterForm.get('ExpensesDetail').errors!=null && expenseMasterForm.get('ExpensesDetail').touched==true">
                  <span class="errorMessage" *ngIf="expenseMasterForm.get('ExpensesDetail').errors.required">Expense Detail is required</span>
              </div> 
            </div>
        </div>
        <div class="form-group row">
              <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Expense Type<i class="fa fa-star mandatory-icon" *ngIf="hideInput" aria-hidden="true"></i></label>  
              <div class="col-xl-4 col-sm-6 col-12">
                <select class="form-control drp_dwn" *ngIf="hideInput" formControlName="ExpensesTypeId" class="form-control">
                    <option [ngValue]="null">--Select--</option>
                    <option *ngFor="let expenseRecord of expenseTypes" [value]="expenseRecord.ExpensesTypeId">
                        {{ expenseRecord.ExpensesType }}
                    </option>
                </select>
                <label class="col-form-label  form-text" *ngIf="hideText">{{ selectedRecordDetails.ExpensesType }}</label>  
                <div *ngIf="hideInput && expenseMasterForm.get('ExpensesTypeId') && expenseMasterForm.get('ExpensesTypeId').errors!=null && expenseMasterForm.get('ExpensesTypeId').touched==true">
                    <span class="errorMessage" *ngIf="expenseMasterForm.get('ExpensesTypeId').errors.required">Expense Type is required</span>
                </div> 
              </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label  col-xl-2 col-sm-6 col-12 form-label">Department<i class="fa fa-star mandatory-icon" *ngIf="hideInput" aria-hidden="true"></i></label>
          <div class="col-xl-4 col-sm-6 col-12">
              <label class="col-form-label form-text" *ngIf="hideText">{{ selectedRecordDetails.Location }}</label>
              <select  appAutofocus formControlName="LocationID" *ngIf="hideInput" class="form-control">
                  <option [ngValue]="null">--Select--</option>
                  <option *ngFor="let record of departments" value={{record.LocationID}}>
                   {{record.Name}}
                  </option>
              </select>
              <div *ngIf="expenseMasterForm.get('LocationID') && expenseMasterForm.get('LocationID').errors!=null &&expenseMasterForm.get('LocationID').touched==true">
                  <span class="errorMessage" *ngIf="expenseMasterForm.get('LocationID').errors.required">Department is required</span>
              </div>
          </div>
        </div>
    </div>
    <div class="form-group text-right btn-list">
      <button (click)="saveRecord()"  class="btn btn-save" *ngIf="hideInput"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
      <button (click)="cancelRecord()"  class="btn btn-cancel" *ngIf="hideInput"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
      <button (click)="editRecord()" class="btn btn-edit" *ngIf="hideText"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
      <button (click)="deleteRecord()" class="btn btn-delete" *ngIf="hideText"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
    </div>
  </form>
  <p-confirmDialog></p-confirmDialog>
  </div><!-- right col end here-->
</div>   
</div>

<ng-template #supplierTemplate let-r="result" let-t="term">
  {{ r.SupplierName }}
</ng-template>

  
   