<block-ui message="Deafult Message"></block-ui>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 padding-null tittlediv">
        <div class="flexrow space-between align-center">
            <h3 class="item-heading"> CRM - Contacts List  </h3>
            <!-- <p>{{TotalSelectedContacts}} -- {{SelectedContacts}}</p> -->
            <!-- <p> {{SelectedLeads}} -- {{ShowToolBar}}  ---- {{closeResult}} </p> -->
            <!-- <p> {{DefaultViewId}} </p> -->
            <div class="divnewbutton"> 
                  <button class="btn btn-save ng-star-inserted" style="margin-right: 20px;" type="button" (click)="ClickNewContact($event)">
                    <i class="fa fa-plus" ria-hidden="true" aria-hidden="true"></i> New</button>
            </div>            
        </div>
       <hr style="margin-top: 0px;" />
    </div>
  </div>

    <!-- Toolbar Starts Here -->
    <div class="row">
    
    </div>
    <!-- Toolbar Ends Here -->
    <form [formGroup]="ContactFilterInfoForm">
        <div class="row">
            <!-- Filter Section Start Here -->
            <div class="filter-section" style="width: 100%;" ngbDropdown #myDrop="ngbDropdown">
            
                    <div class="form-group " style="display: flex; flex-wrap:wrap;justify-content: space-between;">
                        <!-- <label class="col-form-label col form-label">Name :</label>
                        <div class=" autoComplete">
                            <input style="width: 100px;" formControlName="Name" type="text"
                                class="form-control show" [inputFormatter]="NameInputFormater"
                                [ngbTypeahead]="NameSearch"
                                (selectItem)="OnNameFilterChange($event)"
                                [resultTemplate]="NameTemplate" (keyup)="Namechange($event)" />
                        </div> -->
                        <div class="col-sm-12 col-md-12 col-lg-1 mb-1">
                            <label for="Name">First Name</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                            <input type="text" id="Name" class="form-control" formControlName="FirstName">
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                            <label class="col-form-label  col form-label">Last Name</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                            <div class=" input-group" style="width: auto;">
                                <input type="text" #FirstName formControlName="LastName" placeholder="" class="form-control">
                                
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-1 mb-1">
                            <label class="col-form-label  col form-label">Email</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                            <div class="  input-group" style="width: auto;">
                                <input type="text" #FirstName formControlName="Email" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                            <button type="submit" (click)="FilterData()" class="btn btn-save">
                                <i class="fa fa-check" ria-hidden="true"></i> Apply</button>
                            <button type="submit" (click)="resetFiltersMain($event)" class="btn btn-save">
                                <i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
                        </div>
                    </div>
            
            </div>
            <!-- Filter Section Ends Here -->
        </div>
        
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-8">
                <div class="form-group row">
                    <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Views
                        <i class="fa fa-star mandatory-icon" aria-hidden="true"></i></label>
                    <div class="autoComplete col-xl-8 col-sm-6 col-6">
        
                        <select id="ViewId" #ViewId (change)="OnViewChange($event)" formControlName="ViewId"
                            class="form-control" tabindex="10" required>
                            <option *ngFor="let list of AppViewsList" value={{list.ViewId}}>
                                {{ list.ViewName }}
                        </select>
                        <!-- <div
                            *ngIf="LeadForm.get('LeadSourceId') && LeadForm.get('LeadSourceId').errors!=null &&LeadForm.get('LeadSourceId').touched==true">
                            <span class="errorMessage" *ngIf="LeadForm.get('LeadSourceId').errors.required">
                                Lead Source is required</span>
                            </div> -->
        
                    </div>
                    <!-- <button class="btn" type="button" (click)="ClickViewPin($event)">
                        <i class="fa fa-map-pin" aria-hidden="true"></i> </button> -->
                </div>
        
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div style="display: flex; flex-wrap:wrap;justify-content:end;">
                    <div *ngIf="!ShowToolBar">
                        Total Records : {{TotalRecords}} &nbsp;
                    </div>
                    <!-- <button class="btn btn-save ng-star-inserted" type="button" (click)="toggleShowDiv('divA')">
                        <i class="fa fa-search" ria-hidden="true" aria-hidden="true"></i> Search Advance</button> -->
        
                    <button class="btn btn-save ng-star-inserted" mat-button [matMenuTriggerFor]="ExportMenu">
                        <i class="fa fa-file-export" ria-hidden="true" aria-hidden="true"></i>
                        Export</button>
                    <mat-menu #ExportMenu="matMenu">
                        <button mat-menu-item (click)="ExportToCSV()">
                            <i class="fa fa-file-excel-o" ria-hidden="true" aria-hidden="true"></i> CSV
                        </button>
                        <button mat-menu-item (click)="ExportToExcel()">
                            <i class="fa fa-file-excel-o" ria-hidden="true" aria-hidden="true"></i>
                            Excel </button>
        
                        <button mat-menu-item (click)="ExportToPDF()">
                            <i class="fa fa-file-pdf-o" ria-hidden="true" aria-hidden="true"></i> PDF
                        </button>
                    </mat-menu>

                    <!-- <button class="btn btn-save ng-star-inserted" type="button" (click)="ImportContacts($event)">
                        <i class="fa fa-file-import" ria-hidden="true" aria-hidden="true"></i> Import </button> -->

                        <input #file style="visibility: hidden;width:0px" type="file" (change)="fileChanged($event)" 
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        (click)="file.value = null"
                            (change)="ImportContacts($event)">
                    
                        <!-- <button class="btn btn-save ng-star-inserted" #upload (click)="file.click()">
                            <i class="fa-solid fa-file-import " ria-hidden="true" aria-hidden="true"></i> Import Payments 
                        </button> -->

                        <button class="btn btn-save ng-star-inserted" style="margin-right: 20px;" type="button" 
                            (click)="ClickImport($event)">
                            <i class="fa fa-file-import" ria-hidden="true" aria-hidden="true"></i> Import
                        </button>
                    
                </div>
                <div *ngIf="ShowToolBar" style="display: flex; flex-wrap:wrap;justify-content:end;" [@fadeInOut]>
        
                    <!-- <button class="btn btn-save ng-star-inserted" type="button" (click)="ClickPrint($event)">
                            <i class="fa fa-print" ria-hidden="true" aria-hidden="true"></i> Print</button> -->
        
                    <button class="btn btn-save ng-star-inserted" type="button" (click)="ClickAddToList($event)">
                        <i class="fa fa-list" ria-hidden="true" aria-hidden="true"></i> Add To List</button>
        
                    <button type="button" (click)="ClickAssignTo($event)" class="btn btn-save" *ngIf="ShowToolBar">
                        <i class="fa fa-users" ria-hidden="true"></i> Assign To</button>
        
                    <button type="button" (click)="ClickQuickCampaign($event)" class="btn btn-save" *ngIf="ShowToolBar">
                        <i class="fa fa-bullhorn" ria-hidden="true"></i> Quick Campaign</button>
        
                </div>
        
        
            </div>
        </div>
    </form>

    <div class="row" style="border:1px solid blue;visibility: hidden;height:0px;">
            <!-- Animation Test Starts Here -->
            <!-- <div>
                <h2>Hello {{name}}</h2>
                <button (click)="ShowToolBar = !ShowToolBar">togle show ({{ShowToolBar}})</button>
                <div *ngIf="ShowToolBar" [@myAnimation]>xxx</div>
            </div> -->

            <!-- <div *ngIf="show" class="fade" [@state]="state" (@state.done)="animationDone($event)">
                <ng-content #fadeableContent>Display</ng-content>
            </div> -->
            
            <!-- <button class="btn btn-default" (click)="toggle($event)">Toggle</button>
            <div class="note" [ngClass]="{'transition':show}" *ngIf="show">
                <p> Notes</p>
            </div> -->

            <!-- <div class="row margin upper-margin" [@animate]="cardOpen">
                // lots of code
            </div> -->
            <!-- <div (click)="changeDivState()"
            [@animationOption1]="clickedDivState"
    >Click Me
    </div> -->
    <!--         
            <h1>Animation Option 1</h1>
            <button (click)="changeDivState()">Click Me</button>
            <div (click)="changeDivState()"
                [@animationOption1]="clickedDivState"
            >Click Me
            </div>
            
            <h1>Animation Option 2</h1>
            <button (click)="toggleMenu()">Click Me</button>
            <ul *ngIf="ShowToolBar"
                [@animationOption2]="ShowToolBar ? 'open': 'close'"
            >
            <li>Menu Item 1</li>
            <li>Menu Item 2</li>
            <li>Menu Item 3</li>
            </ul> -->
            <!-- Animation Test Ends Here -->
    </div>
    <div class="row">
        <div class="respnsive-table tablescroll p-datatable-wrapper">
            
        <!-- sortMode="multiple" -->
        <p-table #ContactsListTable
            [globalFilterFields]="['FirstName','LastName','Mobile','Email','CreatedDate']" 
            [columns]="ContactsListsCols" selectionMode="single | multiple"
            [value]="ContactsLists" [rows]="this.ContactsListsPagerConfig.RecordsToFetch"
            [scrollable]="true" [scrollHeight]="'calc(100vh - 360px)'" scrollWidth="100%"
            [virtualRowHeight]="30" [virtualScroll]="true" 
            [(selection)]="selectedItems"
            (sortFunction)="customSort($event)" [customSort]="true"
            responsiveLayout="scroll" [paginator]="false"
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
            [rowsPerPageOptions]="[5,10,15,25,50,75,100]">
            <ng-template pTemplate="header" let-columns>
                <tr style="height: 40px;">
                    <th style="width: 36px;">
                        <p-tableHeaderCheckbox (click)="onRowUnselect($event)">                    
                        </p-tableHeaderCheckbox>
                    </th>
                    <!-- <th *ngFor="let col of ContactsLists;let i=index" style="width: 100px;"
                        [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [hidden]="i==1" *ngIf="i!=ContactsLists.length-1"
                            [field]="col.field"></p-sortIcon>
                    </th> -->

                    <!-- Testing Column Custom Sort -->
                    <!-- <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th> -->
                    <th style="width: 100px;" pSortableColumn="AccountName">Account <p-sortIcon field="AccountName"></p-sortIcon></th> 
                    <th style="width: 100px;" pSortableColumn="FirstName">First Name <p-sortIcon field="FirstName"></p-sortIcon></th>
                    <th style="width: 100px;" pSortableColumn="LastName">Last Name <p-sortIcon field="LastName"></p-sortIcon></th>
                    <th style="width: 100px;" pSortableColumn="JobTitle">Job Title <p-sortIcon field="JobTitle"></p-sortIcon></th>                     
                    <th style="width: 100px;" pSortableColumn="Mobile">Mobile <p-sortIcon field="Mobile"></p-sortIcon></th>         
                    <th style="width: 100px;" pSortableColumn="EmailId">Email <p-sortIcon field="EmailId"></p-sortIcon></th>         
                    <th style="width: 100px;" pSortableColumn="ContactTpe">Type <p-sortIcon field="ContactTpe"></p-sortIcon></th>                                 
                    <th style="width: 100px;" pSortableColumn="CreatedDate">Created On <p-sortIcon field="CreatedDate"></p-sortIcon></th>
                    <th style="width: 100px;" pSortableColumn="OwnerName">Owner <p-sortIcon field="OwnerName"></p-sortIcon></th>
                    <th style="width: 50px;">Action</th>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template> -->
            <ng-template pTemplate="body" let-value let-people let-rowData let-columns let-i="rowIndex">
                <tr style="height:30px" [pSelectableRow]="ContactsLists">
                    <td style="width: 36px;">
                        <p-tableCheckbox [value]="people"></p-tableCheckbox>
                    </td>
                        <td style="width: 100px;">{{value.AccountName }}</td>  
                        <td style="width: 100px;">{{value.FirstName}}</td>
                        <td style="width: 100px;">{{value.LastName}}</td>
                        <td style="width: 100px;">{{value.JobTitle}}</td>
                        <td style="width: 100px;">{{value.Mobile }}</td>
                        <td style="width: 100px;">{{value.EmailId }}</td>
                        <!-- {{(value.WorkFlowStatusId!=workFlowStatus.Draft)?value.PurchaseOrderCode:value.DraftCode}} -->
                        <td style="width: 100px;">{{(value.ContactType==true)?'Business':'Individual' }}</td>
                    
                        <td style="width: 100px;">{{value.CreatedDate  | date: 'yyyy-MM-dd'}}</td>
                        <td style="width: 100px;">{{value.OwnerName }}</td>
                        <td style="width: 50PX;" class="aligncenter">
                            <button type="button" class="btn"
                                (click)="EditContact(value.Id)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </td>
                        
                </tr>

            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="ContactsLists.length">
                        No records found
                    </td>
                </tr>
            </ng-template>

        </p-table>
        <div *ngIf="ContactsLists.length==0">
            <div class="col-12 error errorMessage">
                <p class="errorMessage">
                    {{filterMessage}}
                </p>
            </div>
        </div>
        <div style="clear: both;"></div>
        <ngb-pagination *ngIf="ContactsLists.length>0" (pageChange)="pageChange($event)" style="z-index: auto;"
            [collectionSize]="ContactsListsPagerConfig.TotalRecords"
            class="d-flex justify-content-center" [pageSize]="ContactsListsPagerConfig.RecordsToFetch"
            [maxSize]="5" [(page)]="currentPage" [boundaryLinks]="true">
            <ng-template ngbPaginationPages let-page let-pages="pages">
                10 of 100
            </ng-template>
        </ngb-pagination>
    </div>
    </div>
</div>

<ng-template #NameTemplate let-r="result" let-t="term">
    <div>
        <span> {{r.Name}}</span>
    </div>
  </ng-template>

<!-- Modal Dialog Ends Here -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="CloseLeadSearch($event,'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
	</div>
	<div class="modal-body">
		<form [formGroup]="ContactFilterInfoForm">
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
                    <label class="col-form-label col form-label">Topic </label>
                    <div class=" autoComplete">
                        <input style="width: 100px;" formControlName="Topic" type="text" class="form-control show" />
                    </div> 
 
					<button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
        CloseLeadSearch
        <button type="button" class="btn btn-outline-dark" (click)="CloseLeadSearch($event,'Save click')">Save</button>
	</div>
</ng-template>
