<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 padding-null tittlediv">
        <div class="flexrow space-between align-center">
            <h3 class="item-heading"> CRM - Opportunity  </h3>
            <!-- <p>
                {{TotalSelectedAccounts}} -- {{SelectedAccounts}}
            </p> -->
            
            <!-- <p> {{SelectedLeads}} -- {{ShowToolBar}}  ---- {{closeResult}} </p> -->
            <div> 
                  <button class="btn btn-save ng-star-inserted" style="margin-right: 20px;" type="button" 
                  (click)="ClickNewOpportunity($event)">
                    <i class="fa fa-plus" ria-hidden="true" aria-hidden="true"></i> New</button>
            </div>
        </div>
        <hr style="margin-top: 0px;" />
    </div>
  </div>

<!-- Toolbar Starts Here -->
  <div class="row">
 
  </div>
  <!-- Toolbar Ends Here -->
  <div class="row">
    <!-- Filter Section Start Here -->
    <div class="filter-section" style="width: 100%;" ngbDropdown #myDrop="ngbDropdown">
        <form [formGroup]="OpportunityFilterInfoForm">
            <div class="form-group " style="display: flex; flex-wrap:wrap;justify-content: space-between;">
                <!-- <label class="col-form-label col form-label">Name :</label>
                <div class=" autoComplete">
                    <input style="width: 100px;" formControlName="Name" type="text"
                        class="form-control show" [inputFormatter]="NameInputFormater"
                        [ngbTypeahead]="NameSearch"
                        (selectItem)="OnNameFilterChange($event)"
                        [resultTemplate]="NameTemplate" (keyup)="Namechange($event)" />
                </div> -->
                <div class="col-sm-12 col-md-12 col-lg-1 mb-1">
                    <label for="Name">Account Name</label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <input type="text" id="AccountName" class="form-control" formControlName="AccountName">
                </div>

                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <label class="col-form-label  col form-label">Mobile</label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <div class=" input-group" style="width: auto;">
                        <input type="text" #Mobile formControlName="Mobile" placeholder="" class="form-control">
                        
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-1 mb-1">
                    <label class="col-form-label  col form-label">Email</label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <div class="  input-group" style="width: auto;">
                        <input type="text" #EmailId formControlName="EmailId" placeholder="" class="form-control">
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <button type="submit" (click)="FilterData()" class="btn btn-save">
                        <i class="fa fa-check" ria-hidden="true"></i> Apply</button>
                    <button type="submit" (click)="resetFiltersMain($event)" class="btn btn-save">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
                </div>
            </div>
            <div style="display: flex; flex-wrap:wrap;justify-content:end; margin-bottom: 10px;margin-right: 20px;">
                <div style="text-align: right; display: flex; align-items: center;">
                   Total Records : {{TotalRecords}} &nbsp;
                </div>
           
                <!-- Toolbar Starts Here -->
                
                          
                <button class="btn btn-save ng-star-inserted" mat-button [matMenuTriggerFor]="ExportMenu">
                    <i class="fa fa-file-export" ria-hidden="true" aria-hidden="true"></i>
                    Export</button>
                <mat-menu #ExportMenu="matMenu">
                    <button mat-menu-item (click)="ExportToCSV()">
                        <i class="fa fa-file-excel-o" ria-hidden="true" aria-hidden="true"></i> CSV
                    </button>
                    <button mat-menu-item (click)="ExportToExcel()">
                        <i class="fa fa-file-excel-o" ria-hidden="true" aria-hidden="true"></i>
                        Excel </button>
    
                    <button mat-menu-item (click)="ExportToPDF()">
                        <i class="fa fa-file-pdf-o" ria-hidden="true" aria-hidden="true"></i> PDF
                    </button>
                </mat-menu>
            </div>
    
        </form>
    </div>
    <!-- Filter Section Ends Here -->
  </div>
  <div class="row" style="border:1px solid blue;visibility: hidden;height:0px;">
  </div>
  <div class="row">
    <div class="respnsive-table tablescroll p-datatable-wrapper">
        
    <!-- sortMode="multiple" -->
      <p-table #OpportunityListsTable
          [globalFilterFields]="['FirstName','LastName','Mobile','Email','CreatedDate']" 
          [columns]="OpportunityListsCols" selectionMode="single | multiple"
          [value]="OpportunityLists" [rows]="this.OpportunityListsPagerConfig.RecordsToFetch"
          [scrollable]="true" [scrollHeight]="'calc(100vh - 400px)'" scrollWidth="100%"
          [virtualRowHeight]="30" [virtualScroll]="true" 
          [(selection)]="selectedItems"
          (sortFunction)="customSort($event)" [customSort]="true"
          responsiveLayout="scroll" [paginator]="false"
          (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
          [rowsPerPageOptions]="[5,10,15,25,50,75,100]">
          <ng-template pTemplate="header" let-columns>
              <tr style="height: 40px;">
                <th style="width: 36px;">
                    <p-tableHeaderCheckbox (click)="onRowUnselect($event)">                    
                    </p-tableHeaderCheckbox>
                </th>
                <th style="width: 100px;" pSortableColumn="OppTopic">Topic <p-sortIcon field="OppTopic"></p-sortIcon></th>
                <th style="width: 100px;" pSortableColumn="AccountName">Account <p-sortIcon field="AccountName"></p-sortIcon></th>         
                <th style="width: 100px;" pSortableColumn="ContactName">Contact Name <p-sortIcon field="ContactName"></p-sortIcon></th>                              
                <th style="width: 100px;" pSortableColumn="ProbabilityName">Probability <p-sortIcon field="ProbabilityName"></p-sortIcon></th>  
                <th style="width: 100px;" pSortableColumn="EstCloseDate">Est Close Date <p-sortIcon field="EstCloseDate"></p-sortIcon></th>
                <th style="width: 100px;" pSortableColumn="CreatedDate">Created On <p-sortIcon field="CreatedDate"></p-sortIcon></th>
                <th style="width: 50px;">Action</th>
              </tr>
          </ng-template>
          <!-- <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col *ngFor="let col of columns" [style.width]="col.width">
              </colgroup>
          </ng-template> -->
          <ng-template pTemplate="body" let-value let-people let-rowData let-columns let-i="rowIndex">
              <tr style="height:30px" [pSelectableRow]="OpportunityLists">
                <td style="width: 36px;">
                    <p-tableCheckbox [value]="people"></p-tableCheckbox>
                </td>
                    
                    <td style="width: 100px;">{{value.OppTopic}}</td>
                    <td style="width: 100px;">{{value.AccountName}}</td>
                    <td style="width: 100px;">{{value.ContactName }}</td>                  
                    <td style="width: 100px;">{{value.ProbabilityName }}</td>  
                    <td style="width: 100px;">{{value.EstCloseDate}}</td>
                    <!-- <td style="width: 100px;">{{value.EstCloseDate}}</td> -->
                    <td style="width: 100px;">{{value.CreatedDate  | date: 'yyyy-MM-dd'}}</td>
                    <td style="width: 50PX;" class="aligncenter">
                        <button type="button" class="btn"
                            (click)="EditOpportunity(value.Id)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                    </td>
              </tr>

          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="OpportunityLists.length">
                      No records found
                  </td>
              </tr>
          </ng-template>
      </p-table>
      <div *ngIf="OpportunityLists.length==0">
        <div class="col-12 error errorMessage">
            <p class="errorMessage">
                {{filterMessage}}
            </p>
        </div>
    </div>
    <div style="clear: both;"></div>
    <ngb-pagination *ngIf="OpportunityLists.length>0" (pageChange)="pageChange($event)" style="z-index: auto;"
        [collectionSize]="OpportunityListsPagerConfig.TotalRecords"
        class="d-flex justify-content-center" [pageSize]="OpportunityListsPagerConfig.RecordsToFetch"
        [maxSize]="5" [(page)]="currentPage" [boundaryLinks]="true">
        <ng-template ngbPaginationPages let-page let-pages="pages">
            10 of 100
        </ng-template>
    </ngb-pagination>
  </div>
  </div>
</div>

<ng-template #NameTemplate let-r="result" let-t="term">
    <div>
        <span> {{r.Name}}</span>
    </div>
  </ng-template>
<!-- Filter Form Starts Here -->

<!-- Filter Form Ends Here -->
<!-- Modal Dialog Starts Here -->
<!-- <h1>Angular 8 Bootstrap Modal Popup Example</h1>
<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        This is example from ItSolutionStuff.com
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        &nbsp;&nbsp;
        <button (click)="passBack()" type="submit" class="btn btn-primary w-100">Pass back</button>
    </div>
</ng-template> -->
<!-- Modal Dialog Ends Here -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="CloseLeadSearch($event,'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
	</div>
	<div class="modal-body">
		<form [formGroup]="ContactFilterInfoForm">
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
                    <label class="col-form-label col form-label">Topic </label>
                    <div class=" autoComplete">
                        <input style="width: 100px;" formControlName="Topic" type="text" class="form-control show" />
                    </div> 
 
					<button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
        CloseLeadSearch
        <button type="button" class="btn btn-outline-dark" (click)="CloseLeadSearch($event,'Save click')">Save</button>
	</div>
</ng-template>
