:host /deep/ .ReportingMang
{
    height:280px;
    overflow: scroll;
    /* overflow-x: hidden; */
}

:host /deep/ .mat-dialog-container {
 overflow: hidden !important;   
}
.mat-dialog-content {
    overflow:hidden !important;
}
.ui-treetable .ui-treetable-toggler {
    vertical-align: middle;
  
    cursor: pointer;
  
    text-decoration: none;
  
  }