<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 col-sm-12 padding-null tittlediv">
          <div class="flexrow space-between align-center">
              <h3 class="item-heading"> CRM - Dashboard </h3>
              <!-- <div> 
                  Buttons Here                  
              </div> -->
          </div>
          <hr style="margin-top: 0px;" />
      </div>
  </div>
  <div class="row">
    <img src="assets/images/dashboard.png" class="img-responsive"  style="width:98%;height:100%;"/>
  </div>
</div>