<div class="login-data" style="background: #d8dade; padding:20px; display: flex; justify-content: center; align-items: center;  width: 100%; display: flex; min-height: 100vh;">
    
    <div class="login-box">
        
        <div class="login-form"> 
            <div style="text-align: center; margin-bottom: 20px;"> <img alt="logo" src="../assets/images/logo.jpg"></div>
            
            <div class="login-blue-box" [CustomSpinner]="showLeftPanelLoadingIcon">
                <h4 style="text-align: center;">Reset Password</h4>

                <form [formGroup]="signupForm">
                    <div class="form-group row">
                        <label class="col-xl-12 col-form-label">Email</label>
                        <div class="col-xl-12">

                            <input type="text" id="email" name="email" (focus)="resetValidation()"
                                [ngClass]="(validateControl(signupForm.get('email')))?'form-control ng-touched':'form-control'"
                                formControlName="email" placeholder="email" class="form-control">
                            <div
                                *ngIf="signupForm.get('email')&& signupForm.get('email').errors!=null && signupForm.get('email').touched==true">
                                <span class="errorMessage" *ngIf="signupForm.get('email').errors.required">Email is
                                    required</span>
                            </div>
                        </div>
                        <div class="col-xl-12" style="margin-top:5px;">
                            <div class="errorMessage text-center" *ngIf="showMessage==0">You are Active Directory User.
                                Contact To your Adminstrator.</div>
                            <div class=" text-center" style="color: #B2FFB1;" *ngIf="showMessage==1">New Password sent to your
                                email.</div>
                            <div class="errorMessage text-center" *ngIf="showMessage===-1">Invalid Username or EmailId.
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-xl-12">
                            <button class="login-btn"   (click)="Reset();">Reset</button>                            
                            <button class="login-btn"   [routerLink]="['/login']" href="#">Back</button>
                        </div>
                    </div>
                </form>


            </div>



        </div>
    </div>
</div>

<!-- 
      
<p-dialog header="Reset Password" width="400" modal='true' [(visible)]="showResetTypeDialog">
        <div class="form-group row">
                <span>New Password sent to your email.</span>
        </div>
        <div class="form-group row">
            <button style='left:84%;position: relative;' (click)="SelectionOk()" class="btn btn-save" >
                Ok
            </button>
        </div>
    </p-dialog> -->
