<block-ui message="Deafult Message"></block-ui>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 padding-null tittlediv">
        <div class="flexrow space-between align-center">
            <h3 class="item-heading"> CRM - Deals </h3>
            <!-- <p> {{SelectedLeads}} -- {{ShowToolBar}}  ---- {{closeResult}} </p> -->

            <!-- <div class="subj-container" cdkdroplistorientation="horizontal" cdkdroplist #subjectlist="cdkdroplist"
                [cdkdroplistdata]="subjects" [cdkdroplistconnectedto]="list_ids" (cdkdroplistdropped)="drop($event)"> -->

            <div> 
                <button class="btn btn-save ng-star-inserted" style="margin-right: 20px;" type="button" (click)="ClickNewDeal($event)">
                <i class="fa fa-plus" ria-hidden="true" aria-hidden="true"></i> New</button>
            </div>
        </div>
        <hr style="margin-top: 0px;" />
    </div>
  </div>
  <!-- Toolbar Starts Here -->
  <div class="row">
 
  </div>
  <!-- Toolbar Ends Here -->
  <div class="row">
    <!-- Filter Section Start Here -->
    <div class="filter-section" style="width: 100%;" ngbDropdown #myDrop="ngbDropdown">
        <form [formGroup]="DealFilterInfoForm">
            <div class="form-group " style="display: flex; flex-wrap:wrap;justify-content: space-between;">
                <div class="col-sm-12 col-md-12 col-lg-1 mb-1">
                    <label for="Name">Deal Name</label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <input type="text" id="Name" class="form-control" formControlName="DealName">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <label class="col-form-label  col form-label">From Date</label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <div class=" input-group" style="width: auto;">
                        <input style="width: 100px;" class="form-control fromcontrol" formControlName="FromDate" ngbDatepicker
                            #fromDate="ngbDatepicker" [readonly]="true">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="fromDate.toggle();toDate.close()" type="button">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-1 mb-1">
                    <label class="col-form-label  col form-label">To Date</label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <div class="  input-group" style="width: auto;">
                        <input style="width: 100px;" class="form-control" formControlName="ToDate" ngbDatepicker
                            #toDate="ngbDatepicker" [readonly]="true">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="toDate.toggle();fromDate.close()" type="button">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    <button type="submit" (click)="FilterData()" class="btn btn-save">
                        <i class="fa fa-check" ria-hidden="true"></i> Apply</button>
                    <button type="submit" (click)="resetFiltersMain($event)" class="btn btn-save">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-8">
                    <div class="form-group row">
                        <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Views
                        <i class="fa fa-star mandatory-icon" aria-hidden="true"></i></label>
                        <div class="autoComplete col-xl-8 col-sm-6 col-6">
                        
                            <select id="ViewId" #ViewId (change)="OnViewChange($event)"  formControlName="ViewId"
                            class="form-control" tabindex="10" required>
                            <option *ngFor="let list of AppViewsList" value={{list.ViewId}}>
                                {{ list.ViewName }}
                            </select>          
                            <!-- <div
                            *ngIf="LeadForm.get('LeadSourceId') && LeadForm.get('LeadSourceId').errors!=null &&LeadForm.get('LeadSourceId').touched==true">
                            <span class="errorMessage" *ngIf="LeadForm.get('LeadSourceId').errors.required">
                                Lead Source is required</span>
                            </div> -->
        
                        </div>
                        <!-- <button class="btn" type="button" (click)="ClickViewPin($event)">
                            <i class="fa fa-map-pin" aria-hidden="true"></i> </button> -->
                    </div>  

                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div style="display: flex; flex-wrap:wrap;justify-content:end;">
                        <div  *ngIf="!ShowToolBar" >
                            Total Records : {{TotalRecords}} &nbsp;
                            </div>
                        <button class="btn btn-save ng-star-inserted" type="button" (click)="toggleShowDiv('divA')" >
                            <i class="fa fa-search" ria-hidden="true" aria-hidden="true"></i> Search Advance</button>                            

                        <button class="btn btn-save ng-star-inserted" mat-button [matMenuTriggerFor]="ExportMenu">
                            <i class="fa fa-file-export" ria-hidden="true" aria-hidden="true"></i>
                            Export</button>
                        <mat-menu #ExportMenu="matMenu">
                            <button mat-menu-item (click)="ExportToCSV()">
                                <i class="fa fa-file-excel-o" ria-hidden="true" aria-hidden="true"></i> CSV
                            </button>
                            <button mat-menu-item (click)="ExportToExcel()">
                                <i class="fa fa-file-excel-o" ria-hidden="true" aria-hidden="true"></i>
                                Excel </button>
            
                            <button mat-menu-item (click)="ExportToPDF()">
                                <i class="fa fa-file-pdf-o" ria-hidden="true" aria-hidden="true"></i> PDF
                            </button>
                        </mat-menu>
                    </div>

                    
                </div>
            </div>

    
        </form>
    </div>
    <!-- Filter Section Ends Here -->
  </div>
  <div class="row" style="border:1px solid blue;visibility: hidden;height:0px;">
        <!-- Animation Test Starts Here -->
        <!-- <div>
            <h2>Hello {{name}}</h2>
            <button (click)="ShowToolBar = !ShowToolBar">togle show ({{ShowToolBar}})</button>
            <div *ngIf="ShowToolBar" [@myAnimation]>xxx</div>
        </div> -->

        <!-- <div *ngIf="show" class="fade" [@state]="state" (@state.done)="animationDone($event)">
            <ng-content #fadeableContent>Display</ng-content>
        </div> -->
        
          <!-- <button class="btn btn-default" (click)="toggle($event)">Toggle</button>
          <div class="note" [ngClass]="{'transition':show}" *ngIf="show">
            <p> Notes</p>
          </div> -->

        <!-- <div class="row margin upper-margin" [@animate]="cardOpen">
            // lots of code
        </div> -->
        <!-- <div (click)="changeDivState()"
        [@animationOption1]="clickedDivState"
   >Click Me
   </div> -->
<!--         
        <h1>Animation Option 1</h1>
        <button (click)="changeDivState()">Click Me</button>
        <div (click)="changeDivState()"
             [@animationOption1]="clickedDivState"
        >Click Me
        </div>
        
        <h1>Animation Option 2</h1>
        <button (click)="toggleMenu()">Click Me</button>
        <ul *ngIf="ShowToolBar"
            [@animationOption2]="ShowToolBar ? 'open': 'close'"
        >
          <li>Menu Item 1</li>
          <li>Menu Item 2</li>
          <li>Menu Item 3</li>
        </ul> -->
        <!-- Animation Test Ends Here -->
  </div>
  <div class="row">
    <div class="respnsive-table tablescroll p-datatable-wrapper">
        
<!-- sortMode="multiple" -->
      <p-table #LeadsListListTable
          [globalFilterFields]="['DealName', 'FirstName','LastName','CompName','LeadStatName','CreatedDate']" 
          [columns]="DealsListsCols" 
          selectionMode="single | multiple"
          [value]="DealsLists" [rows]="this.DealsListsPagerConfig.RecordsToFetch"
          [scrollable]="true"  scrollWidth="100%"
          [scrollHeight]="'calc(100vh - 400px)'"
          [(selection)]="selectedItems"
          (sortFunction)="customSort($event)" [customSort]="true"
          responsiveLayout="scroll" [paginator]="false"
          (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
          [rowsPerPageOptions]="[5,10,15,25,50,75,100]">
          <ng-template pTemplate="header" let-columns>
              <tr style="height: 40px;">
                <th style="width: 36px;">
                    <p-tableHeaderCheckbox (click)="onRowUnselect($event)">                    
                    </p-tableHeaderCheckbox>
                </th>
                <!-- <th *ngFor="let col of DealsListsCols;let i=index" style="width: 100px;"
                    [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [hidden]="i==1" *ngIf="i!=DealsListsCols.length-1"
                        [field]="col.field"></p-sortIcon>
                </th> -->

                <!-- Testing Column Custom Sort -->
                <!-- <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th> -->
                <th style="width: 100px;" pSortableColumn="DealName">Deal Name <p-sortIcon field="Deal Name"></p-sortIcon></th>
                <th style="width: 100px;" pSortableColumn="Amount">Amount <p-sortIcon field="Amount"></p-sortIcon></th>
                <th style="width: 100px;" pSortableColumn="DealStageName">Stage <p-sortIcon field="DealStageName"></p-sortIcon></th>
                <th style="width: 100px;" pSortableColumn="ClosingDate">Closing Date <p-sortIcon field="ClosingDate"></p-sortIcon></th>
                
                <th style="width: 100px;" pSortableColumn="ContactName">Contact Name <p-sortIcon field="ContactName"></p-sortIcon></th>
                <th style="width: 100px;" pSortableColumn="AccountName">Account <p-sortIcon field="AccountName"></p-sortIcon></th>
                <th style="width: 100px;" pSortableColumn="DealTypeName">Deal Type <p-sortIcon field="DealTypeName"></p-sortIcon></th>
                <th style="width: 100px;" pSortableColumn="OwnerName">Deal Owner <p-sortIcon field="OwnerName"></p-sortIcon></th>

                <th style="width: 50px;">Action</th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-value let-LeadList let-rowData let-columns let-i="rowIndex">

            <tr style="height:30px">
                <td style="width: 36px;">

                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                  <td style="width: 100px;"> {{value.DealName}}  </td>
                  <td style="width: 100px;">{{value.Amount}}</td>
                  <td style="width: 100px;">{{value.DealStageName}}</td>
                  <td style="width: 100px;">{{value.ClosingDate  | date: 'yyyy-MM-dd'}}</td>
                  <td style="width: 100px;">{{value.ContactName }}</td>
                  <td style="width: 100px;">{{value.AccountName }}</td>
                  <td style="width: 100px;">{{value.DealTypeName }}</td>
                  <!-- <td style="width: 100px;" [style.background-color]="value.Colour">{{value.ProbabilityName }}</td> -->
                  <td style="width: 100px;">{{value.OwnerName }}</td>               

                  <td style="width: 50PX;" class="aligncenter">
                      <button type="button" class="btn"
                          (click)="EditDeal(value.DealId)">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
                  </td>
              </tr>

          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="DealsLists.length">
                      No records found
                  </td>
              </tr>
          </ng-template>

      </p-table>
      <div *ngIf="DealsLists.length==0">
        <div class="col-12 error errorMessage">
            <p class="errorMessage">
                {{filterMessage}}
            </p>
        </div>
    </div>
    <div style="clear: both;"></div>
    <!-- <ngb-pagination *ngIf="DealsLists.length>0" (pageChange)="pageChange($event)" style="z-index: auto;"
        [collectionSize]="DealsListsPagerConfig.TotalRecords"
        class="d-flex justify-content-center" [pageSize]="DealsListsPagerConfig.RecordsToFetch"
        [maxSize]="5" [(page)]="currentPage" [boundaryLinks]="true">
        <ng-template ngbPaginationPages let-page let-pages="pages">
            10 of 100
        </ng-template>
    </ngb-pagination> -->

    <ngb-pagination *ngIf="DealsLists.length>0" (pageChange)="pageChange($event)" style="z-index: auto;"
        [collectionSize]="DealsListsPagerConfig.TotalRecords"
        class="d-flex justify-content-center" [pageSize]="DealsListsPagerConfig.RecordsToFetch"
        [maxSize]="5" [(page)]="currentPage" [boundaryLinks]="true">
        <ng-template ngbPaginationPages let-page let-pages="pages">
            10 of 100
        </ng-template>
    </ngb-pagination>
  </div>
  </div>
</div>

<ng-template #NameTemplate let-r="result" let-t="term">
    <div>
        <span> {{r.Name}}</span>
    </div>
  </ng-template>
<!-- Filter Form Starts Here -->
<!-- <div class="filter-popup" *ngIf="showFilterPopUp" ngbDropdownMenu aria-labelledby="dropdownManual"
    (click)="$event.stopPropagation(); myDrop.open();"> -->
    <!-- <div #hello *ngIf="showFilterPopUp">Hello</div> -->
    <!-- [@animationOption1]="clickedDivState" -->
<!-- <div #LeadSearchDiv id="LeadSearchForm" class="leadsearchform1" [@slideInOut]> -->
    <div [@slideInOut]="animationState" class="divA">
    
        <form focusInvalidInput  [formGroup]="DealFilterInfoForm" class="form-horizontal">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-form-label col-6 form-label">Selected Deal Stage </label>
                        <div class="col-6">
                            <div style="border:1px solid black;color: black;">
                                {{SelectedDealStages}} -- {{SelectedDealStageId}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-form-label col-6 form-label">Selected Deal Type </label>
                        <div class="col-6">
                            <div style="border:1px solid black;color: black;">
                                {{SelectedDealType}} -- {{SelectedDealTypeId}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-form-label col-6 form-label">Deal Stage </label>
                        <div class="col-6">

                            <ng-multiselect-dropdown class="multiselect padding-null form-control"
                            formControlName="DealStageId" [placeholder]="'Deal Stage'" [data]="DealStageList"
                            (onSelect)="OnDealStageSelect($event)"
                            (onDeSelect)="OnDealStageDeSelect($event)"
                            (onSelectAll)="OnDealStageSelectAll($event)"
                            (onDeSelectAll)="OnDealStageDeselectAll($event)"
                            [settings]="DealStageListSettings">
                             </ng-multiselect-dropdown>
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-form-label col-6 form-label">Deal Type </label>
                        <div class="col-6">

                            <ng-multiselect-dropdown class="multiselect padding-null form-control"
                            formControlName="DealTypeId" [placeholder]="'Deal Type'" [data]="DealTypeList"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                            (onDeSelect)="onItemDeSelect($event)"
                            [settings]="DealTypeListSettings">
                             </ng-multiselect-dropdown>

                             <!-- <ng-multiselect-dropdown class="multiselect padding-null form-control"
                             (click)="getDepartments($event,userManagementForm.get('RolesDetails').controls[i].get('Company').value.CompanyId)"
                             formControlName="DepartmentList" [placeholder]="'Departments'" [data]="departmentsList"
                             [settings]="departmentListSettings">
                             </ng-multiselect-dropdown> -->

                            <!-- <div
                                *ngIf="purchaseOrderForm.get('CurrencyId') && purchaseOrderForm.get('CurrencyId').errors!=null && purchaseOrderForm.get('CurrencyId').touched==true ">
                                <span class="errorMessage"
                                    *ngIf="purchaseOrderForm.get('CurrencyId').errors.required">Currency Code is
                                    required</span>
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
             <div class="row" style="display: flex;flex-wrap: wrap;justify-content: end;margin-bottom: 10px;">
                <div class="form-group row">
                    <div class="col-12" style="text-align: right">
                        <button type="button" (click)="SearchApply($event)" class="btn btn-save">
                            <i class="fa fa-check" ria-hidden="true"></i> Apply</button>

                        <button type="button" (click)="resetFilters($event)" class="btn btn-save">
                            <i class="fa fa-check" aria-hidden="true"></i> Reset</button>

                        <button type="button" (click)="CloseLeadSearchForm($event)" class="btn btn-save">
                            <i class="fa fa-check" ria-hidden="true"></i> Close</button>
                    </div>
                </div>
            </div>
        </form>
</div>
<!-- Filter Form Ends Here -->
<!-- Modal Dialog Starts Here -->
<!-- <h1>Angular 8 Bootstrap Modal Popup Example</h1>
<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        This is example from ItSolutionStuff.com
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        &nbsp;&nbsp;
        <button (click)="passBack()" type="submit" class="btn btn-primary w-100">Pass back</button>
    </div>
</ng-template> -->
<!-- Modal Dialog Ends Here -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="CloseLeadSearch($event,'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
	</div>
	<div class="modal-body">
		<form [formGroup]="DealFilterInfoForm">
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
                    <label class="col-form-label col form-label">Topic </label>
                    <div class=" autoComplete">
                        <input style="width: 100px;" formControlName="Topic" type="text" class="form-control show" />
                    </div> 
 
					<button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
        
        <button type="button" class="btn btn-outline-dark" (click)="CloseLeadSearch($event,'Save click')">Save</button>
	</div>
</ng-template>




<p-dialog [modal]="true" [(visible)]="ShowListDialog" width="700">
    <p-header>
      Select List -- {{SelectedLeads}} == {{SelectedConnections}}
    </p-header>
    <div class="row">
        <!-- <div class="col-lg-2 col-md-2">
            &nbsp;
        </div> -->
        <div class="col-lg-12 col-md-12">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p-table #ConnectionsListTable
                [globalFilterFields]="['ListName', 'ListDesc']" 
                [columns]="ConnectionsListsCols" 
                selectionMode="single | multiple"
                [value]="ConnectionsLists" [rows]="100"
                [scrollable]="true" [scrollHeight]="'calc(100vh - 500px)'" scrollWidth="600px"
                [virtualRowHeight]="30" [virtualScroll]="true" 
                [(selection)]="SelectedListItems"
                (sortFunction)="customSort($event)" [customSort]="true"
                responsiveLayout="scroll" [paginator]="false"
                (onRowSelect)="OnMarketingRowSelect($event)" (onRowUnselect)="OnMarketingRowUnSelect($event)"
                [rowsPerPageOptions]="[5,10,15,25,50,75,100]">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"> </i>
                        <input type="text" pInputText size="50" placeholder="Search List Name ..."
                            (input)="ConnectionsListTable.filterGlobal($event.target.value, 'contains')" style="width:auto" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr style="height: 40px;">
                        <th style="width: 20px !important;">
                            <p-tableHeaderCheckbox (click)="onRowUnselect($event)">                    
                            </p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 100px;" pSortableColumn="ListName">Name <p-sortIcon field="ListName"></p-sortIcon></th>
                        <th style="width: 200px;" pSortableColumn="ListDesc">Description <p-sortIcon field="ListName"></p-sortIcon></th>
                    </tr>
                    <!-- <tr> 
                        <th *ngFor="let col of cols"> 
                            <input pInputText type="text" (input)="ConnectionsListTable.filter($event.target.value, col.field, col.filterMatchMode)" /> 
                        </th> 
                    </tr>  -->
                </ng-template>
                <ng-template pTemplate="body" let-value let-people let-columns let-i="rowIndex">
                    <tr style="height:30px" [pSelectableRow]="ConnectionsLists">
                        <td style="width: 20px;">
                            <p-tableCheckbox [value]="people"></p-tableCheckbox>
                        </td>
                        <td style="width: 100px;">{{value.ListName}}</td>
                        <td style="width: 200px;">{{value.ListDesc }}</td>                        
                    </tr>
    
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="ConnectionsLists.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
                
            </p-table>
        </div>
      
    </div>
    <p-footer>
      <button type="button" class="btn" (click)="ProcessMarketingListAdd($event)">Yes</button>
      &nbsp;
      <button type="button" class="btn" (click)="ShowListDialog=false">No</button>
    </p-footer>
  </p-dialog>

  <!-- <p-table #tableref>
    <ng-template pTemplate="caption">
          <input
            type="text"
            pInputText
            (input)="tableref.filterGlobal(
            $event.target.value, 'contains')" />
     </ng-template>
    </p-table> -->

    <!-- <p-table #myTab [value]="tableData"  
                [scrollable]="true"  
                scrollHeight="400px" 
                [globalFilterFields]= 
         "['firstname', 'lastname', 'age']"> 
    <ng-template pTemplate="caption"> 
        <div style="text-align: right"> 
            <i class="pi pi-search" 
               style="margin:4px 4px 0 0"> </i> 
            <input type="text" 
                   pInputText size="50" 
                   placeholder="Global Filter"
                   (input)= 
"myTab.filterGlobal($event.target.value, 'contains')"  
                    style="width:auto" /> 
        </div> 
    </ng-template> 
    <ng-template pTemplate="header"> 
        <tr> 
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>Age</th> 
        </tr> 
    </ng-template> 
  
    <ng-template pTemplate="body" let-people> 
        <tr> 
            <td> 
                {{ people.firstname }} 
            </td> 
            <td> 
                {{ people.lastname }} 
            </td> 
            <td> 
                {{ people.age }} 
            </td> 
        </tr> 
    </ng-template> 
</p-table> -->