<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 padding-null tittlediv">
            <div class="flexrow space-between align-center">
                <h3 class="item-heading"> Purchase Order List </h3>
            </div>
            
            <hr style="margin-top: 0px;" />
            <div class="left-section1" [CustomSpinner]="showLeftPanelLoadingIcon" [class.display-filters]="!showfilters">

                <div class="filter-section" ngbDropdown #myDrop="ngbDropdown">
                    <div class="flexrow space-between showlist">
                        <!-- Filter Form Starts Here -->
                        <div class="filter-section" style="width: 100%;" ngbDropdown #myDrop="ngbDropdown">
                            <form [formGroup]="poFilterInfoForm">
                                <div class="form-group "
                                    style="display: flex; flex-wrap:wrap;justify-content: space-between;">
                                    <label class="col-form-label col form-label">PO #</label>
                                    <div>
                                        <input style="width: 100px;" type="text" #poCode formControlName="POCode"
                                            class="form-control">
                                    </div>
                                    <label class="col-form-label col form-label">Supplier</label>
                                    <div class=" autoComplete">
                                        <input style="width: 100px;" formControlName="SupplierName" type="text"
                                            class="form-control show" [inputFormatter]="supplierInputFormater"
                                            [ngbTypeahead]="supplierSearch"
                                            (selectItem)="onSupplierFilterChange($event)"
                                            [resultTemplate]="supplierTemplate" (keyup)="suppliernamechange($event)" />
                                    </div>
                                    <label class="col-form-label  col form-label">From Date</label>
                                    <div class=" input-group" style="width: auto;">
                                    

                                        <input style="width: 100px;" class="form-control fromcontrol"
                                            formControlName="FromDate" ngbDatepicker #fromDate="ngbDatepicker"
                                            [readonly]="true">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary"
                                                (click)="fromDate.toggle();toDate.close()" type="button">
                                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <label class="col-form-label col form-label">To Date</label>
                                    <div class="  input-group" style="width: auto;">
                                        <input style="width: 100px;" class="form-control" formControlName="ToDate"
                                            ngbDatepicker #toDate="ngbDatepicker" [readonly]="true">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary"
                                                (click)="toDate.toggle();fromDate.close()" type="button">
                                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <label class="col-form-label col form-label">PO Type</label>
                                    <div class=" ">
                                        <select #purchaseOrderDropDown formControlName="PoTypeId" class="form-control">
                                            <option value=0>
                                                Select
                                            </option>
                                            <option *ngFor="let record of purchaseOrderTypes"
                                                value={{record.PurchaseOrderTypeId}}>
                                                {{record.PurchaseOrderType}}
                                            </option>
                                        </select>
                                    </div>
                                    <label class="col-form-label col form-label">Status</label>
                                    <div class=" ">
                                        <select #workFlowStatusDropDown formControlName="WorkFlowStatusId"
                                            class="form-control">
                                            <option value=0>
                                                Select
                                            </option>
                                            <option *ngFor="let record of workFlowStatuses"
                                                value={{record.WorkFlowStatusid}}>
                                                {{record.Statustext}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col_1">
                                        <button type="submit" (click)="filterData()" class="btn btn-save">
                                            <i class="fa fa-check" ria-hidden="true"></i> Apply</button>
                                        <button type="submit" (click)="resetFilters()" class="btn btn-save">
                                            <i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
                                    </div>
                                </div>

                                
                                <div style="display: flex; flex-wrap:wrap;justify-content:end; margin-bottom: 20px;">
                                    
                                    <div style="text-align: right; display: flex; align-items: center;">
                                        
                                        Total Records : {{TotalRecords}} &nbsp;
                                    </div>

                                    <button class="btn btn-save ng-star-inserted" type="button" (click)="ClickNewRecord()">
                                        <i class="fa fa-plus" ria-hidden="true" aria-hidden="true"></i> New</button>

                                    <button class="btn btn-save ng-star-inserted" mat-button
                                        [matMenuTriggerFor]="ExportMenu">
                                        <i class="fa fa-file-export" ria-hidden="true" aria-hidden="true"></i>
                                        Export</button>
                                    <!-- <mat-menu #ExportMenu="matMenu" yPosition="below"> -->
                                    <mat-menu #ExportMenu="matMenu">
                                        <button mat-menu-item (click)="ExportToCSV()">
                                            <i class="fa fa-file-excel-o" ria-hidden="true" aria-hidden="true"></i> CSV
                                        </button>
                                        <button mat-menu-item (click)="ExportToExcel()">
                                            <i class="fa fa-file-excel-o" ria-hidden="true" aria-hidden="true"></i>
                                            Excel </button>

                                        <button mat-menu-item (click)="ExportToPDF()">
                                            <i class="fa fa-file-pdf-o" ria-hidden="true" aria-hidden="true"></i> PDF
                                        </button>
                                    </mat-menu>
 
                                    <div *ngIf="!showfilters" ngbDropdown placement="bottom-right" style="padding:0px;"
                                        class="d-inline-block">
                                       
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
                                            *ngIf="hideText && (printPermission || emailPermission) && (showPrintButton || showEmailButton) || viewLogPermission">
                                            <button class="dropdown-item"
                                                *ngIf="showPrintButton && printPermission && hideText"
                                                (click)="onPDFPrint()">Print</button>
                                            <button class="dropdown-item"
                                                *ngIf="showEmailButton && emailPermission && hideText"
                                                (click)="displayEmailPopUp()">Email</button>
                                            <button class="dropdown-item" *ngIf="viewLogPermission"
                                                (click)="displayLogPopUp()">View Log</button>
                                            <!-- <button class="dropdown-item"  *ngIf="showEmailButton"   (click)="sendMailtoSupplier()">Email</button> -->
                                        </div>
                                    </div>

                                    <div *ngIf="showdilogbox" class="dialogdropdown">
                                        <select #purchaseOrderDropDown class="form-control" #mySelect
                                            (change)='onOptionsSelected(mySelect.value)'>
                                            <option *ngFor="let record of purchaseOrderTypes"
                                                value={{record.PurchaseOrderTypeId}}>
                                                {{record.PurchaseOrderType}}
                                            </option>
                                        </select>

                                    </div>
                                </div>



                             

                            </form>
                        </div>
                        <!-- Filter Form Ends Here -->
                    </div>


                    <div>
                        <div class="respnsive-table tablescroll p-datatable-wrapper">
                            <p-table #PurchaseOrderListTable dataKey="DraftCode" [rowHover]="true" [filterDelay]="0"
                                [globalFilterFields]="['DraftCode', 'SupplierName']" [columns]="PurchaseOrdersListsCols"
                                [value]="purchaseOrdersList" [rows]="1" [scrollable]="true"
                                [scrollHeight]="'calc(100vh - 400px)'" scrollWidth="100%" [virtualRowHeight]="30"
                                [virtualScroll]="true" sortMode="multiple" responsiveLayout="scroll"
                                [rowsPerPageOptions]="[10,25,50,75,100]">
                               

                               
                                <ng-template pTemplate="header" let-columns>
                                    <tr style="height: 40px;">
                                        <th *ngFor="let col of PurchaseOrdersListsCols;let i=index"
                                            [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [hidden]="i==0" *ngIf="i!=PurchaseOrdersListsCols.length-1"
                                                [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col *ngFor="let col of columns" [style.width]="col.width">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="body" let-value let-columns let-i="rowIndex">
                                    <tr style="height:30px" [pSelectableRow]="rowData">
                                        <td>{{(value.WorkFlowStatusId!=workFlowStatus.Draft)?value.PurchaseOrderCode:value.DraftCode}}
                                        </td>
                                        <td>{{value.SupplierName}}</td>
                                        <td>{{value.CreatedDate | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{value.WorkFlowStatusText }}</td>
                                        <td class="aligncenter">
                                            <button type="button" class="btn"
                                                (click)="RedirectPurchaseOrder(value.PurchaseOrderId,value.POTypeId,value.SupplierId)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="purchaseOrdersList.length">
                                            No records found
                                        </td>
                                    </tr>
                                </ng-template>
                               
                            </p-table>
 
                        </div>

                        <div *ngIf="purchaseOrdersList.length==0">
                            <div class="col-12 error errorMessage">
                                <p class="errorMessage">
                                    {{filterMessage}}
                                </p>
                            </div>
                        </div>
                        
                        <div malihu-scrollbar class="filter-scroll" style="width:100%; float:left; display: none;">
                            <table class="table">
                                <tr>
                                    <td (click)="hidefilter()" style="padding: 0;">
                                       
                                    </td>
                                </tr>
                            </table>
                            <div *ngIf="purchaseOrdersList.length==0" class="col-12 listErrorMessage">
                                {{errorMessage}}
                            </div>

                        </div>

                        <div style="clear: both;"></div>
                        <ngb-pagination *ngIf="purchaseOrdersList.length>0" (pageChange)="pageChange($event)"
                            [collectionSize]="purchaseOrderPagerConfig.TotalRecords"
                            class="d-flex justify-content-center" [pageSize]="purchaseOrderPagerConfig.RecordsToFetch"
                            [maxSize]="5" [(page)]="currentPage" [boundaryLinks]="true">
                            <ng-template ngbPaginationPages let-page let-pages="pages">
                                <!-- render the "pages" collection here -->
                                10 of 100
                            </ng-template>
                        </ngb-pagination>
                    </div> 
                </div>

            </div>
        </div>
    </div>


     
</div>
<ng-template #supplierTemplate let-r="result" let-t="term">
    <!-- {{ r.SupplierName }} -->
    <!-- <div [ngClass]="ngb-disabled">
        <span [ngClass]="{disabled : r.WorkFlowStatus!='Approved'}"> {{  r.WorkFlowStatus!='Approved'? r.SupplierName + " ( " + r.WorkFlowStatus + " ) " : r.SupplierName}}</span> 
     </div> -->
     <div [ngClass]="ngb-disabled">
        <span [ngClass]="{disabled : r.WorkFlowStatus!='Approved' || r.IsFreezed===true}"> {{  r.WorkFlowStatus!='Approved' ? r.SupplierName + " ( " + r.WorkFlowStatus + " ) " : r.SupplierName}}</span> 
     </div>
</ng-template>