<div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-12 padding-null tittlediv">
  <h3 class="item-heading"><img src="../assets/images/icon1.png"> Inventory > {{ moduleHeading }} </h3>
  </div>
  <div class="col-md-6 col-sm-12 align-text-top" style="text-align:right">
        <img src="../assets/images/add-new.png" (click)="addRecord();" *ngIf="hideText&&isApprovalPage==false">  
        <img src="../assets/images/grid1.png"  (click)="showFullScreen()">
        <div ngbDropdown placement="bottom-right" style="padding:0px;" class="d-inline-block">
            <button class="btn btn-outline-primary" style="background:none;border:none;padding:0px;" id="dropdownBasic1" ngbDropdownToggle>
                <img src="../assets/images/grid2.png">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item"  (click)="onPDFPrint($event)">Print</button>
                <!-- <button class="dropdown-item" (click)="sendMailtoSupplier()">Email</button> -->
            </div>
        </div>
  </div>
  </div>
  <div class="row">
   <div class="col-lg-3 col-md-4 leftdiv"  [class.collapse-leftcol]="leftSection">   
  <div class="left-section"> 
   <div class="filter-section" ngbDropdown #myDrop="ngbDropdown">
        <div class="left-search">
            <input type="text" placeholder="Search..." [(ngModel)]="requestSearchKey" (keyup)="onLocationTransferSearch($event)" class="search-filter">
            <i class="fa fa-search" aria-hidden="true"></i>
            <div class="filter-popup" *ngIf="showFilterPopUp" ngbDropdownMenu aria-labelledby="dropdownManual" (click)="$event.stopPropagation();">
                <form [formGroup]="locationTransferFilterForm" class="form-horizontal">
                   
                    <div class="form-group row">
                        <label class="col-form-label col-4 form-label">From Location</label>  
                        <div class="col-8">
                            <input formControlName="FromLocationObj" type="text"  class="form-control"  [inputFormatter]="locationInputFormater"
                                [ngbTypeahead]="locationFilterSearch" [resultTemplate]="locationTemplate" />
                            <div *ngIf="locationTransferFilterForm.get('FromLocationObj') && locationTransferFilterForm.get('FromLocationObj').errors!=null && locationTransferFilterForm.get('FromLocationObj').touched==true">
                                <span class="errorMessage" *ngIf="locationTransferFilterForm.get('FromLocationObj').errors.requiredcompany">Please Select "From Company"</span>
                            </div> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 errorMessage">
                            {{filterMessage}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12" style="text-align: right">
                            <button type="submit" (click)="filterData()" class="btn btn-save">
                                <i class="fa fa-check" ria-hidden="true"></i> Apply</button>
                            <button type="submit" (click)="resetFilters()" class="btn btn-save">
                                <i class="fa fa-check" aria-hidden="true"></i> Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>  

 
          <div class="filter-icon">
              <button id="dropdownManual" ngbDropdownToggle (click)="openDialog()">
                  <i class="fa fa-filter" aria-hidden="true"></i>
              </button>
          </div>
          <div class="filter-icon" *ngIf="isFilterApplied" (click)="resetData()">
              <i class="fa fa-undo" aria-hidden="true"></i>
          </div>                  
        
        
        <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="filter-scroll" style="width:100%; float:left;">
            <table class="table">
                <tr [class.activerow]="record.LocationTransferId==selectedRecordDetails.LocationTransferId" (click)="onLocationReqRecordSelection(record.LocationTransferId)" *ngFor="let record of locationTransferList">
                <td>
                    <h5 class="sub-heading">{{ record.LocationTransferCode  }}</h5>
                    <span><label class="label-text" >Requested By</label> :<label class="label-value">{{ record.RequestedByUserName }}</label></span>

                    <label class="label-text">Status</label> :<label class="label-value">{{ record.WorkFlowStatus }}</label>
                </td>
                </tr>
            </table>
            <div *ngIf="locationTransferList.length==0" class="col-12 error listErrorMessage">
                {{errorMessage}}
            </div> 
            <ngb-pagination [maxSize]="5" *ngIf="locationTransferList.length>0" (pageChange)="pageChange($event)" 
                [collectionSize]="locationTransferPagerConfig.TotalRecords" class="d-flex justify-content-center"
                 [pageSize]="locationTransferPagerConfig.RecordsToFetch" [page]="currentPage" [boundaryLinks]="true"></ngb-pagination>
        </div>   
   </div>  
      </div>
        <div class="split-line" (click)="split()"></div> 
   </div><!-- left col end here-->
  
  <div  #rightPanel class="rightPanel col-lg-9 col-md-8"  [class.expand-rightcol]="rightSection">
    <form [ngClass]="{'hideRightPanel':(locationTransferList.length==0 && hideText==true)}"  [formGroup]="locationTransferForm" class="form-horizontal" >
        <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="rightcol-scrroll">
          <div class="row fullScreenLabel">
              <div class="col-12">
                  <h3 class="item-heading" style="float:none;">{{ moduleHeading }}</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                      <label class="col-form-label col-4 form-label">From Company</label>  
                      <div class="col-8">
                          <input formControlName="FromCompanyObj" type="text"  *ngIf="hideInput" class="form-control" [inputFormatter]="companyInputFormater"
                              [ngbTypeahead]="companySearch" [resultTemplate]="companyTemplate" />
                          <label class="col-form-label form-text" *ngIf="hideText">{{ selectedRecordDetails.FromCompany }}</label>  
                          <div *ngIf="hideInput && locationTransferForm.get('FromCompanyObj') && locationTransferForm.get('FromCompanyObj').errors!=null && locationTransferForm.get('FromCompanyObj').touched==true">
                              <span class="errorMessage" *ngIf="locationTransferForm.get('FromCompanyObj').errors.required">From Company is required</span>
                          </div> 
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-form-label col-4 form-label">From Department</label>  
                      <div class="col-8">
                          <input formControlName="FromLocationObj" type="text"  *ngIf="hideInput" class="form-control" (selectItem)="onLocationChange($event,1)" [inputFormatter]="locationInputFormater"
                              [ngbTypeahead]="locationSearch" [resultTemplate]="locationTemplate" />
                          <label class="col-form-label form-text" *ngIf="hideText">{{ selectedRecordDetails.FromLocation }}</label>  
                          <div *ngIf="hideInput && locationTransferForm.get('FromLocationObj') && locationTransferForm.get('FromLocationObj').errors!=null && locationTransferForm.get('FromLocationObj').touched==true">
                              <span class="errorMessage" *ngIf="showFromLocationErrMsg==false && locationTransferForm.get('FromLocationObj').errors.required">From Department is required</span>
                              <br>
                              <span class="errorMessage" *ngIf="showFromLocationErrMsg">Please Select "From Department"</span>
                        </div> 
                      </div>
                  </div>
                    <div *ngIf="hideText" class="form-group row">
                        <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Requested By</label>
                        <div class="col-xl-8 col-sm-6 col-6">
                            <label  class="col-form-label form-text">
                                {{ selectedRecordDetails.RequestedByUserName }}
                            </label>
                        </div>
                    </div>
                    <div *ngIf="hideText" class="form-group row">
                        <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Request No.</label>
                        <div class="col-xl-8 col-sm-6 col-6">
                            <label  class="col-form-label form-text">
                                {{ selectedRecordDetails.LocationTransferCode }}
                            </label>
                        </div>
                    </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                      <label class="col-form-label col-4 form-label">To Company</label>  
                      <div class="col-8">
                          <input formControlName="ToCompanyObj" type="text"  *ngIf="hideInput" class="form-control" [inputFormatter]="companyInputFormater"
                              [ngbTypeahead]="toCompanySearch" [resultTemplate]="companyTemplate" />
                          <label class="col-form-label form-text" *ngIf="hideText">{{ selectedRecordDetails.ToCompany }}</label>  
                          <div *ngIf="hideInput && locationTransferForm.get('ToCompanyObj') && locationTransferForm.get('ToCompanyObj').errors!=null && locationTransferForm.get('ToCompanyObj').touched==true">
                              <span class="errorMessage" *ngIf="locationTransferForm.get('ToCompanyObj').errors.required">To Company is required</span>      
                          </div> 
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-form-label col-4 form-label">To Department</label>  
                      <div class="col-8">
                          <input formControlName="ToLocationObj" type="text"  *ngIf="hideInput" class="form-control" (selectItem)="onLocationChange($event,2)" [inputFormatter]="locationInputFormater"
                              [ngbTypeahead]="toLocationSearch" [resultTemplate]="locationTemplate" />
                          <label class="col-form-label form-text" *ngIf="hideText">{{ selectedRecordDetails.ToLocation }}</label>  
                          <div *ngIf="hideInput && locationTransferForm.get('ToLocationObj') && locationTransferForm.get('ToLocationObj').errors!=null && locationTransferForm.get('ToLocationObj').touched==true">
                              <span class="errorMessage" *ngIf="showToLocationErrMsg==false &&  locationTransferForm.get('ToLocationObj').errors.required">To Department is required</span>
                              <br>
                              <span class="errorMessage" *ngIf="showToLocationErrMsg">Please Select "To Department"</span>
                           </div> 
                           <span class="errorMessage" *ngIf="showGridErrorMessage1">
                            Please Select Different Department.
                            </span>
                      </div>
                  </div>
                  <div *ngIf="hideText" class="form-group row">
                    <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Status</label>
                    <div class="col-xl-8 col-sm-6 col-6">
                        <label *ngIf="selectedRecordDetails.WorkFlowStatus!=''&&selectedRecordDetails.WorkFlowStatus!=null" class="col-form-label form-text">{{ selectedRecordDetails.WorkFlowStatus }}&nbsp;
                            <span *ngIf="selectedRecordDetails.CurrentApproverUserName!=''&&selectedRecordDetails.CurrentApproverUserName!=null">[{{ selectedRecordDetails.CurrentApproverUserName }}]</span>
                        </label>
                    </div>
                </div>
                <div *ngIf="hideText" class="form-group row">
                    <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Created Date</label>
                    <div class="col-xl-8 col-sm-6 col-6">
                        <label  class="col-form-label form-text">
                            {{ selectedRecordDetails.CreatedDate|DisplayDateFormat }}
                        </label>
                    </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
                <h4 class="form-heading">Reason For Transfer</h4>
            </div>
            <div class="col-6">
                <textarea class="form-control" *ngIf="hideInput" formControlName="ReasonForTransfer">
                </textarea>
                <label class="col-form-label form-text" *ngIf="hideText">{{ selectedRecordDetails.ReasonForTransfer==undefined?"": selectedRecordDetails.ReasonForTransfer }}</label>  
            </div>
          </div>
          <div  class="row" style="margin-top:2em;">
              <div class="col-12">
                  <h4 class="form-heading">Inventory Items</h4>
              </div>
              <div class="col-12">
                    <div *ngIf="hideInput" class="gridSearch left-search">
                        <input type="text" formControlName="SearchKey" (keyup)="onItemsSearch($event)" placeholder="Search ..." class="search-filter">
                        <i class="fa fa-search" aria-hidden="true"></i>  selectionMode="multiple" &&(selectedRecordDetails.SelectedItemDetails==undefined|| selectedRecordDetails.SelectedItemDetails.length==0)
                    </div>   
                    <div style="text-align: center;">
                        <span class="errorMessage" *ngIf="showGridErrorMessage">
                            Please transfer atleast one Item
                        </span>
                    </div>
                    <fieldset *ngIf="hideInput" formArrayName="SelectedItemDetails">
                            <p-table  [columns]="gridColumns" (sortFunction)="customSort($event)" [customSort]="true" sortMode="single" 
                            [value]="locationTransferForm.controls.SelectedItemDetails.controls"  >
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="12" style='text-align: center;'>
                                            <b>{{ gridNoMessageToDisplay }}</b>
                                        </td> 
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col  *ngFor="let col of columns" [style.width]="col.width">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th >
                                            <!-- <p-tableHeaderCheckbox ></p-tableHeaderCheckbox> -->
                                            <input type="checkbox" [(ngModel)]="isHeaderChecked" [ngModelOptions]="{standalone: true}" (ngModelChange)="mainclick($event)" />
                                        </th>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.header}} 
                                        
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
                                    <tr *ngIf="hideInput" [formGroupName]="i" [pSelectableRow]="rowData">
                                        <td >
                                            <input type="checkbox" (ngModelChange)="opentextbox($event,i)"   formControlName="Checked">
                                            <!-- <p-tableCheckbox   [value]="rowData" (onChange)="opentextbox($event,i)" ></p-tableCheckbox> -->

                                        </td>
                                        <td>
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('ItemMasterCode').value }}
                                        </td>
                                        <td>
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('Name').value }}
                                        </td>
                                        <td>
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('LocationName').value }}
                                        </td>
                                        <td>
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('ItemTypeName').value }}
                                        </td>
                                        <td>
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('ItemCategoryName').value }}
                                        </td>
                                        <td>
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('Manufacturer').value }}
                                        </td>
                                        <td>
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('Brand').value }}
                                        </td>
                                        <td>
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('UOMName').value }}
                                        </td>
                                        <td align="right">
                                            {{locationTransferForm.get('SelectedItemDetails').controls[i].get('StockInhand').value|number:'1.2-4' }}
                                        </td>
                                        <td>                                          
                                            <input type="number" formControlName="Quantity" min="0" (keydown)=restrictMinus($event)     
                                            (change)="checked(locationTransferForm.get('SelectedItemDetails').controls[i].get('StockInhand').value,i,locationTransferForm.get('SelectedItemDetails').controls[i])"                                
                                            class="form-control">
                                            <span class="errorMessage"  *ngIf="locationTransferForm.get('SelectedItemDetails').controls[i].get('Quantity')!=null &&
                                                        locationTransferForm.get('SelectedItemDetails').controls[i].get('Quantity').errors!=null ">     
                                            <span *ngIf="locationTransferForm.get('SelectedItemDetails').controls[i].get('Quantity').errors.qtyerror2">
                                                    Quantity can not greater than Stock Inhand
                                            </span>
                                        </span>
                                           
                                        </td>
                                        
                                    </tr>
                                </ng-template>
                            </p-table>

                    </fieldset>

                    <p-table *ngIf="hideText"  [columns]="gridColumns" [customSort]="true" sortMode="single" [value]="selectedRecordDetails.SelectedItemDetails">
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="9" style='text-align: center;'>
                                        <b>{{ gridNoMessageToDisplay }}</b>
                                    </td> 
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col  *ngFor="let col of columns" [style.width]="col.width">
                                    </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                  <ng-template ngFor let-data [ngForOf]="columns" let-i="index">
                                        <th  [pSortableColumn]="data.field">
                                            {{data.header}}    
                                        </th>
                                   </ng-template>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
                                <tr>  
                                    <!-- <td >                                        
                                    </td> -->
                                    <td>
                                        {{ rowData.ItemMasterCode }}
                                    </td>
                                    <td>
                                        {{ rowData.Name }}
                                    </td>
                                    <td>
                                        {{ rowData.LocationName }}
                                    </td>            
                                    <td>
                                        {{rowData.ItemTypeName}}
                                    </td>                   
                                    <td>
                                        {{ rowData.ItemCategoryName }}
                                    </td>
                                    <td>
                                        {{rowData.Manufacturer}}
                                    </td>
                                    <td>
                                        {{rowData.Brand}}
                                    </td>
                                    <td>
                                        {{rowData.UOMName}}
                                    </td>
                                    <td>
                                        {{rowData.StockInhand}}
                                    </td>              
                                    <td>
                                        {{rowData.Quantity}}                                  
                                    </td>                  
                                </tr>
                            </ng-template>
                    </p-table>
              </div>
          </div>
        
        </div>
        <div *ngIf="requestType=='request'" class="form-group text-right btn-list">
            <button (click)="saveRecord('save')"  class="btn btn-save" *ngIf="hideInput"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
            <button type="submit" (click)="saveRecord('send')" class="btn btn-approve"  [disabled]="selectedRecordDetails|DisableButton">
                <i class="fa fa-check" aria-hidden="true"></i> Send for Approval
            </button>
            <button (click)="cancelRecord()"  class="btn btn-cancel" *ngIf="hideInput"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
            <button (click)="editRecord()" class="btn btn-edit" *ngIf="hideText" [disabled]="selectedRecordDetails|DisableButton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
            <button (click)="deleteRecord()" class="btn btn-delete" *ngIf="hideText" [disabled]="selectedRecordDetails|DisableButton"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </div>
        <div *ngIf="requestType=='approval'" class="form-group text-right btn-list">
            <button type="submit" (click)="updateStatus(workFlowStatus.Approved)"   class="btn btn-approve"><i class="fa fa-check"  aria-hidden="true"></i>Approve</button>
            <button type="submit" (click)="updateStatus(workFlowStatus.Rejected)"  class="btn btn-delete"><i class="fa fa-ban" aria-hidden="true"></i> Reject</button>        
        </div>      
    </form>
  </div><!-- right col end here-->
  <p-confirmDialog></p-confirmDialog>
  </div> 
  </div>

<ng-template #locationTemplate let-r="result" let-t="term">
    {{ r.Name }}
</ng-template>
<ng-template #companyTemplate let-r="result" let-t="term">
    {{ r.CompanyName }}
</ng-template>
<ng-template #userTemplate let-r="result" let-t="term">
    {{ r.FirstName }}
</ng-template>
   