<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 padding-null tittlediv">
            <h3 class="item-heading">
                <img src="../assets/images/icon1.png"> Item Type Old</h3>
        </div>
        <div class="col-md-6 col-sm-12 align-text-top" style="text-align:right">
            <img src="../assets/images/add-new.png" (click)="addRecord();" *ngIf="isDisplayMode!=false && newPermission">
            <img src="../assets/images/grid1.png" (click)="showFullScreen()">
            <!-- <img src="../assets/images/grid2.png">  -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 leftdiv" [class.collapse-leftcol]="leftsection">
            <div class="left-section" ngbDropdown #myDrop="ngbDropdown">
                <div class="filter-section">

                    <div class="left-search">
                        <input type="text" placeholder="Search requests..." class="search-filter" (keyup)="onSearch($event)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="filter-popup" *ngIf="initDone" ngbDropdownMenu aria-labelledby="dropdownManual" (click)="$event.stopPropagation(); myDrop.open();">

                            <form [formGroup]="itemtypeFilterInfoForm" class="form-horizontal">

                                <div class="form-group row">
                                    <label class="col-form-label col-6 form-label">Item Type Name </label>
                                    <div class="col-6">
                                        <input type="text" #ItemTypeName formControlName="ItemTypeName" placeholder="" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-form-label col-6 form-label">Item Category</label>
                                    <div class="col-6">

                                        <input type="text" formControlName="ItemCategory" placeholder="" class="form-control">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 error">
                                        {{filterMessage}}
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-12" style="text-align: right">
                                        <button type="submit" (click)="filterData()" class="btn btn-save">
                                            <i class="fa fa-check" ria-hidden="true"></i> Apply</button>
                                        <button type="submit" (click)="resetFilters()" class="btn btn-save">
                                            <i class="fa fa-check" aria-hidden="true"></i> Reset</button>

                                    </div>
                                </div>

                            </form>



                        </div>
                    </div>

                    <div class="filter-icon">
                        <button id="dropdownManual" ngbDropdownToggle (click)="openDialog()">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="filter-icon" *ngIf="isFilterApplied" (click)="resetData()">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </div>

                    <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="filter-scroll" style="width:100%; float:left;">

                        <table class="table">
                            <tr (click)="onItemRecordSelection(record)" *ngFor="let record of itemtypes">
                                <td>
                                    <h5 class="sub-heading">{{record.Name}}</h5>
                                    <label class="label-text">Description</label> :
                                    <label class="label-value descriptionStyle">{{ record.Description | slice:0:50 }}
                                        <span *ngIf="record.Description!= null && record.Description.length>50">...</span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="split-line" (click)="split()"></div>
        </div>
        <!-- left col end here-->


        <div #rightPanel class="rightPanel col-lg-9 col-md-8" [class.expand-rightcol]="rightsection">
            <div *ngIf="isDisplayMode!=null">

                <form [formGroup]="itemtypeForm" class="form-horizontal">
                    <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="rightcol-scrroll">
                        <div class="row fullScreenLabel">
                            <div class="col-12">
                                <h3 class="item-heading" style="float:none;">Item Types</h3>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Name
                                <i class="fa fa-star mandatory-icon" *ngIf="isDisplayMode==false" aria-hidden="true"></i>
                            </label>
                            <div class="col-xl-4 col-sm-6 col-12">
                                <input type="text" formControlName="Name" [ngClass]="(validateControl(itemtypeForm.get('Name')))?'form-control ng-touched':'form-control'"
                                    placeholder="Name" *ngIf="isDisplayMode==false" class="form-control">

                                <label class="col-form-label col-sm-12 form-text" *ngIf="isDisplayMode==true">
                                    <b style="color:#01548e">{{ selectedItemTypeRecord.Name }}</b>
                                </label>
                                <div *ngIf="itemtypeForm.get('Name').errors!=null && isDisplayMode==false">
                                    <span class="errorMessage" *ngIf="itemtypeForm.get('Name').errors.Duplicate">Duplicate Item Name</span>
                                </div>


                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Category
                                <i class="fa fa-star mandatory-icon" *ngIf="isDisplayMode==false" aria-hidden="true"></i>
                            </label>
                            <div class="col-xl-4 col-sm-6 col-12">
                                <select formControlName="ItemCategoryID" [ngClass]="(validateControl(itemtypeForm.get('ItemCategoryID')))?'form-control ng-touched':'form-control'"
                                    placeholder="category" *ngIf="isDisplayMode==false" class="form-control">
                                    <option [ngValue]="null">--Select--</option>
                                    <option *ngFor="let record of itemcategorytypes" value={{record.ItemCategoryID}}>
                                        {{record.Name}}

                                </select>
                                <label class="col-form-label col-xl-12 col-sm-12 col-12 form-text" *ngIf="isDisplayMode==true"> {{selectedItemTypeRecord.ItemCategoryName}} </label>
                            </div>
                        </div>


                        <h4 class="form-heading">Details</h4>
                        <div class="form-group row">
                            <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Description </label>
                            <div class="col-xl-4 col-sm-6 col-12">
                                <textarea rows="4" cols="50" formControlName="Description" *ngIf="isDisplayMode==false" class="form-control">
                   </textarea>
                                <label class="col-form-label form-text descriptionStyle" *ngIf="isDisplayMode==true">{{ selectedItemTypeRecord.Description }}</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right btn-list">
                        <button type="submit" (click)="saveRecord()" class="btn btn-save" *ngIf="isDisplayMode==false">
                            <i class="fa fa-check" aria-hidden="true"></i> Save</button>
                        <button type="submit" (click)="cancelRecord()" class="btn btn-cancel" *ngIf="isDisplayMode==false">
                            <i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                        <button type="submit" (click)="editRecord()" class="btn btn-edit" *ngIf="isDisplayMode==true && editPermission">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                        <button type="submit" (click)="deleteRecord()" class="btn btn-delete" *ngIf="isDisplayMode==true && deletePermission">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                    </div>
                    <p-confirmDialog></p-confirmDialog>
                </form>
            </div>



        </div>
        <!-- left col end here-->


    </div>

</div>