<div class="container-fluid">
    <div class="row">
    <div class="col-md-6 col-sm-12 padding-null tittlediv">
        <h3 class="item-heading"><img src="../assets/images/icon1.png"> FixedAssets > Asset Class </h3>
    </div>
    <div class="col-md-6 col-sm-12 align-text-top" style="text-align:right">
        <img src="../assets/images/add-new.png" (click)="addRecord();" *ngIf="hideText">  
        <img src="../assets/images/grid1.png"  (click)="showFullScreen()">
        <!-- <img src="../assets/images/grid2.png">  -->
    </div>
    </div>
    <div class="row">
     <div class="col-lg-3 col-md-4 leftdiv"  [CustomSpinner]="showLeftPanelLoadingIcon"   [class.collapse-leftcol]="leftSection">   
    <div class="left-section"> 
    <div class="filter-section" ngbDropdown #myDrop="ngbDropdown">
      <div class="left-search">
        <input type="text" placeholder="Search requests..." class="search-filter" [(ngModel)]="searchKey" (keyup)="onSearch($event)">
        <i class="fa fa-search" aria-hidden="true"></i>
        <div class="filter-popup" *ngIf="showFilterPopUp" ngbDropdownMenu aria-labelledby="dropdownManual" (click)="$event.stopPropagation();">
            <form [formGroup]="assetFilterForm" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-form-label col-6 form-label">Asset Name</label>
                    <div  class="col-6">
                      <input  type="text" #assetCategory formControlName="AssetName" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-6 form-label">Asset Category</label>
                    <div class="col-6">
                        <select class="form-control drp_dwn"  formControlName="AssetCategoryId" class="form-control">
                            <option *ngFor="let assetRecord of assetCategories" [value]="assetRecord.AssetCategoryId">
                                {{ assetRecord.AssetCategory }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 error">
                        {{filterMessage}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12" style="text-align: right">
                        <button type="submit" (click)="filterData()" class="btn btn-save">
                            <i class="fa fa-check" ria-hidden="true"></i> Apply</button>
                        <button type="submit" (click)="resetFilters()" class="btn btn-save">
                            <i class="fa fa-check" aria-hidden="true"></i> Reset</button>
                    </div>
                </div>
            </form>
        </div>
      </div>  
      <!-- start filter code -->
      <div class="filter-icon">
          <button id="dropdownManual" ngbDropdownToggle (click)="openDialog()">
              <i class="fa fa-filter" aria-hidden="true"></i>
          </button>
      </div>
      <div class="filter-icon" *ngIf="isFilterApplied" (click)="resetData()">
          <i class="fa fa-undo" aria-hidden="true"></i>
      </div>                    
      <!-- end filter code -->
      <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="filter-scroll" style="width:100%; float:left;">
        <table class="table">
          <tr [class.activerow]="record.AssetId==selectedRecordDetails.AssetId" (click)="onRecordSelection(record.AssetId)" *ngFor="let record of assetsList">
            <td>
              <h5 class="sub-heading">{{ record.AssetCode  }}</h5>
              <label class="label-text">Asset Name</label> :<label class="label-value">{{ record.AssetName }}</label>
            </td>
          </tr>
        </table>
        <div *ngIf="assetsList.length==0" class="col-12  listErrorMessage">
            {{errorMessage}}
        </div> 
        <ngb-pagination [maxSize]="5" *ngIf="assetsList.length>0" (pageChange)="pageChange($event)" [collectionSize]="assetMasterPagerConfig.TotalRecords" class="d-flex justify-content-center" [pageSize]="assetMasterPagerConfig.RecordsToFetch" [page]="currentPage" [boundaryLinks]="true"></ngb-pagination>
      </div>   
    </div>  
    </div>
    <div class="split-line" (click)="split()"></div> 
    </div><!-- left col end here-->
    
    <div  #rightPanel [CustomSpinner]="showRightPanelLoadingIcon" class="rightPanel col-lg-9 col-md-8" [class.expand-rightcol]="rightSection">
            <div class="fullScreenLabel">    <app-header></app-header> </div>  
    <form  [ngClass]="{'hideRightPanel':(assetsList.length==0 && hideText==true)}" [formGroup]="assetMasterForm"  class="form-horizontal" >
        <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="rightcol-scrroll">
          <div class="row fullScreenLabel">
              <div class="col-12">
                  <h3 class="item-heading" style="float:none;">Asset Master</h3>
              </div>
          </div>
          <div  *ngIf="hideText" class="form-group row">
            <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Asset Code</label>  
            <div class="col-xl-4 col-sm-6 col-12">
              <label class="col-form-label form-text"><b style="color:#01548e">{{ selectedRecordDetails.AssetCode }}</b></label>  
            </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Asset Name <i class="fa fa-star mandatory-icon" *ngIf="hideInput" aria-hidden="true"></i></label>  
              <div class="col-xl-4 col-sm-6 col-12">
                <input type="text" appAutofocus formControlName="AssetName" placeholder="Name" *ngIf="hideInput" class="form-control">
                <label class="col-form-label form-text" *ngIf="hideText"><b style="color:#01548e">{{ selectedRecordDetails.AssetName }}</b></label>  
                <div *ngIf="hideInput && assetMasterForm.get('AssetName') && assetMasterForm.get('AssetName').errors!=null && assetMasterForm.get('AssetName').touched==true">
                    <span class="errorMessage" *ngIf="assetMasterForm.get('AssetName').errors.required">Name is required</span>
                    <span class="errorMessage" *ngIf="assetMasterForm.get('AssetName').errors.duplicate">Duplicate Asset</span>
                </div> 
              </div>
          </div>
          <div class="form-group row">
                <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Asset Category <i class="fa fa-star mandatory-icon" *ngIf="hideInput" aria-hidden="true"></i></label>  
                <div class="col-xl-4 col-sm-6 col-12">
                  <select class="form-control drp_dwn" *ngIf="hideInput" formControlName="AssetCategoryId" class="form-control">
                        <option [ngValue]="null">--Select--</option>
                      <option *ngFor="let assetRecord of assetCategories" [value]="assetRecord.AssetCategoryId">
                          {{ assetRecord.AssetCategory }}
                      </option>
                  </select>
                  <label class="col-form-label  form-text" *ngIf="hideText">{{ selectedRecordDetails.AssetCategory }}</label>  
                  <div *ngIf="hideInput && assetMasterForm.get('AssetCategoryId') && assetMasterForm.get('AssetCategoryId').errors!=null && assetMasterForm.get('AssetCategoryId').touched==true">
                      <span class="errorMessage" *ngIf="assetMasterForm.get('AssetCategoryId').errors.required">Asset Category is required</span>
                  </div> 
                </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-xl-2 col-sm-6 col-12 form-label">Warranty</label>  
              <div class="col-xl-4 col-sm-6 col-12">
                <input type="text" formControlName="Warranty" placeholder="Name" *ngIf="hideInput" class="form-control">
                <label class="col-form-label form-text" *ngIf="hideText">{{ selectedRecordDetails.Warranty }}</label>  
              </div>
          </div>
            <!-- Start Supplier Details -->
            <div class="row" style="margin-top:2em;">
            <div class="col-12">
                <h4 class="form-heading">Preferred Suppliers</h4>
            </div>
            <div class="col-12">
                <fieldset *ngIf="hideInput" formArrayName="PreferredSuppliers">
                    <div style="text-align: center;">
                        <span class="errorMessage" *ngIf="showSupplierGridErrorMessage &&(selectedRecordDetails.PreferredSuppliers==undefined|| selectedRecordDetails.PreferredSuppliers.length==0)">
                            Please enter Supplier Details
                        </span>
                    </div>
                    <p-table [columns]="supplierGridColumns"  sortMode="single" [value]="assetMasterForm.controls.PreferredSuppliers.controls">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:10%;">
                                <col style="width:30%;">
                                <col style="width:30%;">
                                <col style="width:30%;">                                                  
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
                            <tr *ngIf="hideInput&&( rowData.get('IsDeleted').value!=true )" [formGroupName]="i">
                                <td>
                                    {{ i + 1 }}
                                </td>
                                <td>
                                    <input formControlName="Supplier" type="text" class="form-control show" [inputFormatter]="supplierInputFormater"
                                    [ngbTypeahead]="supplierSearch" (click)="onItemSupplierClick(i)"  [resultTemplate]="supplierTemplate" />
                                </td>                                                 
                                <td>  
                                    {{  rowData.get('Supplier').value==null||rowData.get('Supplier').value==undefined?"": rowData.get('Supplier').value.SupplierEmail  }}           
                                </td>                                                
                                <td>  
                                    <div style="float:left;width:99%;">    
                                    <div style="float:left;width:60%;text-align: left;">       
                                        {{ rowData.get('Supplier').value==null||rowData.get('Supplier').value==undefined?"": rowData.get('Supplier').value.BillingTelephone  }}
                                    </div>                                                                                                
                                    <div class="gridIconsStyle"  style="float: right;left: 0px;"> 
                                        <i class="fa fa-trash gridRemoveIcon" (click)="removeGridItem(i)" aria-hidden="true"></i>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div *ngIf="hideInput">
                        <input type="number" [(ngModel)]="linesToAdd" [ngModelOptions]="{standalone: true}" class="form-control linesToAdd">
                        <button type="submit" (click)="addGridItem(linesToAdd)" class="addLine">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Line
                        </button>
                    </div>
                </fieldset>
                <p-table *ngIf="hideText" [columns]="supplierGridColumns" (sortFunction)="customSort($event)" [customSort]="true" sortMode="single" [value]="selectedRecordDetails.PreferredSuppliers">
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5" style='text-align: center;'>
                                <b>{{ gridNoMessageToDisplay }}</b>
                            </td> 
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width:10%;">
                            <col style="width:30%;">
                            <col style="width:30%;">
                            <col style="width:30%;">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}    
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
                        <tr>
                            <td>
                                {{ i + 1 }}
                            </td>
                            <td>
                                {{ rowData.Supplier.SupplierName }}
                            </td>
                            <td>
                                {{ rowData.Supplier.SupplierEmail }}
                            </td>                             
                            <td>
                                <div style="float:left;width:99%;">
                                <div style="float:left;width:60%;text-align: left;">
                                    {{ rowData.Supplier.BillingTelephone }}
                                </div>
                                <div class="gridIconsStyle" *ngIf="hideInput==true" style="float: right;left: 0px;">
                                    &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-trash gridRemoveIcon" (click)="removeGridItem(i)" aria-hidden="true"></i>
                                </div>
                            </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
           </div>
           <br/>  <br/>  <br/>  <br/>
      </div>
      <div class="form-group text-right btn-list">
        <button (click)="saveRecord()"  class="btn btn-save" *ngIf="hideInput"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
        <button (click)="cancelRecord()"  class="btn btn-cancel" *ngIf="hideInput"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
        <button (click)="editRecord()" class="btn btn-edit" *ngIf="hideText"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
        <button (click)="deleteRecord()" class="btn btn-delete" *ngIf="hideText"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
      </div>
    </form>
    <p-confirmDialog></p-confirmDialog>
    </div><!-- right col end here-->
  </div>   
</div>

<ng-template #supplierTemplate let-r="result" let-t="term">
    {{ r.SupplierName }}
</ng-template>

    
     