<p-dialog (onHide)="onPopUpHide()" [style]="{'max-width':'80%','max-height':'550px' }" [modal]="true"
  [(visible)]="showLogPopUp">
  <p-header>
    <span *ngIf="DocumentNumber!=0">Audit Log - {{DocType}} Document Code : {{DocumentNumber}}</span>
    <span *ngIf="DocumentNumber==0">Audit Log</span>
  </p-header>
  <div class="rightcol-scrroll" (click)="$event.stopPropagation(); ">
    <div style="min-width: 500px;;">
      <fieldset>
        <div *ngIf="auditLogs.length==0"> No data found. </div>
        <ul *ngFor="let log of auditLogs" aria-setsize="">
          <li class="lipad"> {{log.Message}}
            <table class="table table-bordered customtable" *ngIf="log.AuditChanges">
              <thead>
                <tr class="trheight">
                  <th width="25%" class="tdpad">Field</th>
                  <th width="35%" class="tdpad">Value Before</th>
                  <th width="35%" class="tdpad">Value After</th>
                </tr>
              </thead>
              <tbody>
                <tr class="trheight" *ngFor="let change of log.AuditChanges">
                  <td width="25%" class="tdpad">{{change.FieldName}}</td>
                  <td width="35%" class="tdpad">{{change.ValueBefore}}</td>
                  <td width="35%" class="tdpad">{{change.ValueAfter}}</td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </fieldset>
    </div>
  </div>
</p-dialog>