.textcenter {
    text-align: center
}

.textright {
    text-align: right
}

table {
    border: 1px solid #dee2e6;
}

table td {
    border-left: 1px solid #dee2e6;
}

.fontbold {
    font-weight: bold;
}

.addLine {
    background: #01548e;
    color: white;
    border: 1px solid #01548e;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 3px;
}

.linesToAdd {
    width: 5%;
    height: 24px;
    padding: 3px;
    display: inline-block;
    font-size: 12px;
}

.gridSaveIcon, .gridEditIcon, .gridCancelIcon, .gridRemoveIcon {
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.gridIconsStyle {
    float: right;
    position: relative;
}

.addLine {
    background: #01548e;
    color: white;
    border: 1px solid #01548e;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 3px;
}

.popoverbg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 199;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
}

.wordbreak {
    overflow-wrap: break-word;
}

:host ::ng-deep .ptable td {
    border: 1px solid #dee2e6;
}
:host ::ng-deep .ui-table-scrollable-body{min-height: 300px !important;}

.rightPanel
{
    margin-top: 0px !important;
}
.container-fluid
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}