.input-group
{
    height:30px !important;
}
.form-group
{
    margin-bottom: 0px !important;
}
::ng-deep.mat-menu-panel {
    /* These numbers are my requirement, put something which suits yours */
    transform: translate(0px, 28px);
}