<div class="container-fluid">
        <div class="row">
        <div class="col-md-6 col-sm-12 padding-null tittlediv">
        <h3 class="item-heading"> <img src="../assets/images/icon1.png"> Purchase order > Quotation Response</h3>
        </div>
        <div class="col-md-6 col-sm-12 align-text-top" style="text-align:right">
           <img src="../assets/images/grid1.png" (click)="showFullScreen()">
            <div ngbDropdown placement="bottom-right" style="padding:0px;" class="d-inline-block">
                <button class="btn btn-outline-primary" style="background:none;border:none;padding:0px;" id="dropdownBasic1" ngbDropdownToggle>
                    <img src="../assets/images/grid2.png"> 
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">Print</button>
                  <button class="dropdown-item">Email</button>
                  <button class="dropdown-item">Export</button>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
         <div [hidden]="hideLeftPanel==true" [ngClass]="{'col-lg-3 col-md-4 leftdiv':hideLeftPanel==false}" [class.collapse-leftcol]="leftsection">   
        <div class="left-section" > 
         <div class="filter-section" >
          <div class="left-search">
          <input type="text" [(ngModel)]="purchaseOrderSearchKey" placeholder="Search requests..." (change)="onSearchInputChange($event)" class="search-filter">
          <i class="fa fa-search" (click)="onSearchClick()" aria-hidden="true"></i>
         </div> 
         <div class="filter-icon">
              <i class="fa fa-filter" aria-hidden="true"></i>
          </div>
          <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"   class="filter-scroll" style="width:100%; float:left;">
              <table class="table">
                  <tr [class.activerow]="record.PurchaseOrderId==selectedPODetails.PurchaseOrderId" (click)="onRecordSelection(record.PurchaseOrderId)" *ngFor="let record of purchaseOrdersList">
                      <td>
                      <h5 class="sub-heading">{{ record.PurchaseOrderCode }}</h5>
                          <label class="label-text">Supplier</label> :<label class="label-value">{{ record.SupplierName }}</label> 
                      </td>
                  </tr>
              </table>
          </div>  
          </div>
         </div>
         <div class="split-line" (click)="splite()"></div> 
         </div><!-- left col end here-->
      
          <div  #rightPanel class="rightPanel" [ngClass]="hideLeftPanel==true?'col-lg-12 col-md-12':'col-lg-9 col-md-8'" [class.expand-rightcol]="rightsection">
      
              <div>
                  <form  [formGroup]="purchaseOrderForm" class="form-horizontal">
                  <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="rightcol-scrroll">
                  <div class="row fullScreenLabel">
                      <div class="col-12">
                          <h3 class="item-heading" style="float:none;">Purchase Order Creation</h3>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group row" *ngIf="hidetext">
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Requestor</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                              <label class="col-form-label form-text" >{{ selectedPODetails.RequestedByUserName }}</label>
                              </div>
                          </div>
                          <div class="form-group row" *ngIf="hidetext">
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Date</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                                  <label class="col-form-label form-text">{{ selectedPODetails.CreatedDate|DisplayDateFormat }}</label>   
                              </div>      
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Supplier Type</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                                  <label class="col-form-label form-text" *ngIf="hidetext&&selectedPODetails.Supplier!=null">{{ 
                                      selectedPODetails.Supplier.SupplierTypeID==1?"UEL Related Supplier":"External Supplier"          
                                  }}</label>
                                  <label class="col-form-label"  *ngIf="hideinput">
                                      <input type="radio"  (change)="supplierTypeChange($event)" value="1"  formControlName="SupplierTypeID"  />
                                      UEL Related Supplier
                                  </label>
                                  <label class="col-form-label" style="margin-left: 5px;"   *ngIf="hideinput">
                                      <input type="radio"  (change)="supplierTypeChange($event)"  value="2"  formControlName="SupplierTypeID" />
                                      External Supplier
                                  </label>
                              </div>         
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Supplier</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                                  <label class="col-form-label form-text" *ngIf="hidetext&&selectedPODetails.Supplier!=null">{{ selectedPODetails.Supplier.SupplierName }}</label>
                                  <input formControlName="Supplier" type="text" 
                                          *ngIf="hideinput"  class="form-control" 
                                          [inputFormatter]="supplierInputFormater" (selectItem)="onSupplierChange($event)"
                                          [ngbTypeahead]="supplierSearch"  [resultTemplate]="supplierTemplate"/>
                                  <div *ngIf="purchaseOrderForm.get('Supplier') && purchaseOrderForm.get('Supplier').errors!=null && purchaseOrderForm.get('Supplier').touched==true">
                                      <span class="errorMessage" *ngIf="purchaseOrderForm.get('Supplier').errors.required">Supplier is required</span>
                                  </div> 
                              </div>      
                          </div>
                          <div class="form-group row">
                                <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Supplier Email</label>  
                                <div class="col-xl-8 col-sm-6 col-6">
                                    <label class="col-form-label form-text" *ngIf="hidetext&&selectedPODetails.SupplierEmail!=null">{{ selectedPODetails.SupplierEmail }}</label>
                                    <input formControlName="SupplierEmail" class="form-control"  *ngIf="hideinput" type="text" />
                                    <div *ngIf="purchaseOrderForm.get('SupplierEmail') && purchaseOrderForm.get('SupplierEmail').errors!=null && purchaseOrderForm.get('SupplierEmail').touched==true">
                                        <span class="errorMessage" *ngIf="purchaseOrderForm.get('SupplierEmail').errors.required">Supplier Email is required</span>
                                    </div> 
                                </div>      
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">GST Required</label>  
                            <div  class="col-xl-8 col-sm-6 col-6">
                                <label *ngIf="hideinput" class="col-form-label form-text">
                                    <mat-slide-toggle formControlName="IsGstRequired" (change)="matselect($event)"></mat-slide-toggle>
                                    &nbsp;<label *ngIf="slideactive">Yes</label>  
                                </label>  
                                <label class="col-form-label form-text" *ngIf="hidetext">{{ selectedPODetails.IsGstRequired==true?'Yes':'No' }}</label> 
                            </div>      
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Currency Type</label>  
                            <div class="col-xl-8 col-sm-6 col-6">
                                <label class="col-form-label form-text" *ngIf="hidetext">{{ selectedPODetails.CurrencyCode }}</label>
                                <select (change)="onCurrencyChange($event)" formControlName="CurrencyId"  *ngIf="hideinput"
                                        class="form-control">
                                    <option [ngValue]="undefined">--Select--</option>  
                                    <option *ngFor="let record of currencies"  value={{record.Id}}>  
                                        {{ record.Code }}                                               
                                </select>
                                <div *ngIf="purchaseOrderForm.get('CurrencyId') && purchaseOrderForm.get('CurrencyId').errors!=null && purchaseOrderForm.get('CurrencyId').touched==true ">
                                        <span class="errorMessage" *ngIf="purchaseOrderForm.get('CurrencyId').errors.required">Currency Code is required</span>
                                </div>  
                            </div>      
                        </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group row" *ngIf="hidetext">      
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Designation</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                              <label class="col-form-label form-text">{{ selectedPODetails.Designation }}</label>
                              </div>
                          </div>
                          <div class="form-group row" *ngIf="hidetext">      
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Request Number</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                              <label class="col-form-label form-text" >{{ selectedPODetails.PurchaseOrderCode }}</label>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Cost of Service</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                                  <label class="col-form-label form-text" *ngIf="hidetext">{{ selectedPODetails.CostOfService }}</label>
                                  <select  formControlName="CostOfServiceId"  *ngIf="hideinput"
                                          class="form-control">
                                      <option [ngValue]="undefined">--Select--</option>  
                                      <option *ngFor="let record of costOfServiceType"  value={{record.CostOfServiceId}}>  
                                          {{record.CostOfService}}                                               
                                  </select>
                                  <div *ngIf="purchaseOrderForm.get('CostOfServiceId')&& purchaseOrderForm.get('CostOfServiceId').errors!=null && purchaseOrderForm.get('CostOfServiceId').touched==true">
                                      <span class="errorMessage" *ngIf="purchaseOrderForm.get('CostOfServiceId').errors.required">Cost Of Service is required</span>
                                  </div> 
                              </div>      
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Department</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                                  <label class="col-form-label form-text" *ngIf="hidetext">{{ selectedPODetails.Location }}</label>
                                  <select formControlName="LocationId"  *ngIf="hideinput" class="form-control">
                                      <option [ngValue]="undefined">--Select--</option>  
                                      <option *ngFor="let record of departments"  value={{record.LocationID}}>  
                                          {{record.Name}}                                               
                                  </select>
                                  <div *ngIf="purchaseOrderForm.get('LocationId') && purchaseOrderForm.get('LocationId').errors!=null &&purchaseOrderForm.get('LocationId').touched==true">
                                      <span class="errorMessage" *ngIf="purchaseOrderForm.get('LocationId').errors.required">Department is required</span>
                                  </div> 
                              </div>      
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Expected Delivery</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                                  <label class="col-form-label form-text" *ngIf="hidetext">{{ selectedPODetails.ExpectedDeliveryDate|DisplayDateFormat }}</label>
                                  <div class="input-group" *ngIf="hideinput">
                                      <input class="form-control"
                                          formControlName="ExpectedDeliveryDate" (click)="onDatePickerFocus(deliveryDatePicker)" ngbDatepicker #deliveryDatePicker="ngbDatepicker">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-secondary" (click)="deliveryDatePicker.toggle()" type="button">
                                                  <i class="fa fa-calendar"  style="cursor: pointer;"></i>
                                          </button>
                                      </div>
                                  </div>
                              </div>      
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-xl-4 col-sm-6 col-6 form-label">Status</label>  
                              <div class="col-xl-8 col-sm-6 col-6">
                                  <label class="col-form-label form-text">{{ selectedPODetails.PurchaseOrderStatusText }}</label>    
                              </div>      
                          </div>
                      </div>
                  </div>     
                  <div class="col-12 engineers-assigned" style="padding:0px;">
                      <fieldset *ngIf="hideinput" formArrayName="PurchaseOrderItems">
                          <div style="text-align: center;">
                              <span class="errorMessage" *ngIf="showGridErrorMessage &&(selectedPODetails.PurchaseOrderItems==undefined|| selectedPODetails.PurchaseOrderItems.length==0)">
                                  Please enter purchase order items
                              </span>
                          </div>
                          <p-table [columns]="gridColumns" (sortFunction)="customSort($event)" [customSort]="true" sortMode="single" [value]="purchaseOrderForm.controls.PurchaseOrderItems.controls">
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="7" style='text-align: center;'>
                                            <b>{{ gridNoMessageToDisplay }}</b>
                                        </td> 
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="colgroup" let-columns>
                                  <colgroup>
                                    <col style="width:5%;">
                                    <col style="width:15%;" >
                                    <col style="width:25%;">
                                    <col style="width:7%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                  </colgroup>
                              </ng-template>
                              <ng-template pTemplate="header" let-columns>
                                  <tr >
                                      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                          {{col.header}}
                                      
                                          <span *ngIf="(col.field=='Unitprice'||col.field=='ItemTotal')&&selectedPODetails.CurrencySymbol!=null">
                                              &nbsp;
                                          ( {{ selectedPODetails.CurrencySymbol }} )
                                          </span>
                                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                      </th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">           
                                      <tr  *ngIf="hideinput" [formGroupName]="i">
                                          <td>
                                              {{  i + 1 }}
                                          </td>
                                          <td>
                                              <input formControlName="Item" type="text" 
                                                      class="form-control" 
                                                      [inputFormatter]="itemMasterInputFormater" (selectItem)="itemMasterSelection($event,i)"
                                                      [ngbTypeahead]="itemMasterSearch" [resultTemplate]="itemMasterTemplate" />
                                          </td>
                                          <td>
                                              <textarea  formControlName="ItemDescription" autoresize type="text" class="form-control">
                                              </textarea>
                                          </td>
                                          <td>
                                              <select formControlName="MeasurementUnitID"  *ngIf="hideinput"
                                                      class="form-control">
                                                  <option [ngValue]="undefined">--Select--</option>  
                                                  <option *ngFor="let record of measurementUnits"  value={{record.MeasurementUnitID}}>  
                                                      {{ record.Name }}                                               
                                              </select>
                                          </td>
                                          <td>
                                                <input type="number" style="text-align: right;" class="form-control" (change)="calculateTotalPrice($event)" formControlName="ItemQty"/>
                                            </td>
                                            <td>
                                                <input type="number" style="text-align: right;" class="form-control" (change)="calculateTotalPrice($event)" formControlName="Unitprice"/>
                                            </td>
                                            <td>
                                                <div style="float:left;width:60%;">
                                                        {{ ( purchaseOrderForm.get('PurchaseOrderItems').controls[i].get('ItemQty').value * purchaseOrderForm.get('PurchaseOrderItems').controls[i].get('Unitprice').value)|number:'1.2-4'   }}
                                                </div>
                                                <div class="gridIconsStyle">
                                                        <i  class="fa fa-trash gridRemoveIcon" (click)="removeGridItem(i)" aria-hidden="true"></i> 
                                                </div>
                                            </td>
                                      </tr>
                              </ng-template>
                          </p-table>
                          <div  *ngIf="hideinput">
                              <input type="number" [(ngModel)]="linesToAdd"  [ngModelOptions]="{standalone: true}" class="form-control linesToAdd">
                              <button type="submit"  (click)="addGridItem(linesToAdd)" class="addLine" >
                                  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Line
                              </button>
                          </div>
                      </fieldset>
                      <p-table  *ngIf="hidetext" [columns]="gridColumns" (sortFunction)="customSort($event)" [customSort]="true" sortMode="single" [value]="selectedPODetails.PurchaseOrderItems">
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="7" style='text-align: center;'>
                                            <b>{{ gridNoMessageToDisplay }}</b>
                                        </td> 
                                    </tr>
                                </ng-template>
                               <ng-template pTemplate="colgroup" let-columns>
                                  <colgroup>
                                    <col style="width:5%;">
                                    <col style="width:15%;" >
                                    <col style="width:25%;">
                                    <col style="width:7%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                  </colgroup>
                              </ng-template>
                              <ng-template pTemplate="header" let-columns>
                                  <tr >
                                      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                          {{col.header}}
                                      
                                          <span *ngIf="(col.field=='Unitprice'||col.field=='ItemTotal')&&selectedPODetails.CurrencySymbol!=null">
                                              &nbsp;
                                          ( {{ selectedPODetails.CurrencySymbol }} )
                                          </span>
                                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                      </th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
                                      <tr>
                                          <td>
                                              {{  i + 1 }}
                                          </td>
                                          <td>
                                              {{ rowData.Item.ItemName }}
                                          </td>
                                          <td>
                                             <span class="descriptionStyle" [innerHtml]="rowData.ItemDescription|TextAreaContentDisplay"></span>
                                          </td>
                                          <td>
                                              {{ rowData.MeasurementUnitCode  }}
                                          </td>
                                          <td align="right">
                                                {{ rowData.ItemQty  }}
                                            </td>
                                            <td align="right">
                                                {{ rowData.Unitprice|number:'1.2-4'  }}
                                            </td>
                                            <td>
                                                <div style="float:left;width:60%;text-align: right;">
                                                    {{ (rowData.ItemQty * rowData.Unitprice)|number:'1.2-4'   }}
                                                </div>
                                                <div class="gridIconsStyle" *ngIf="hideinput==true">
                                                    <i  class="fa fa-edit gridEditIcon" (click)="editGridItem(i)" aria-hidden="true"></i>
                                                        &nbsp;&nbsp;&nbsp;
                                                    <i  class="fa fa-trash gridRemoveIcon" (click)="removeGridItem(i)" aria-hidden="true"></i>    
                                                </div>
                                            </td>
                                      </tr>
                              </ng-template>
                      </p-table>
                      <div class="row">
                          <div class="col-sm-5">
                              <div class="row" style="margin-top:3em;">
                                  <div class="col-12 row">
                                      <div class="col-5">
                                          <h4 class="form-heading">Payment Terms</h4>
                                      </div>
                                      <div class="col-6">
                                          <select (change)="onPaymentTermChange($event)" formControlName="PaymentTermId" *ngIf="hideinput" class="form-control">
                                              <option [ngValue]="undefined">--Select--</option>  
                                              <option *ngFor="let record of paymentTerms"  value={{record.PaymentTermsId}}>  
                                                  {{ record.Code }}                                               
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-12" style="margin-top:1em;">
                                      <textarea *ngIf="hideinput" class="form-control" autoresize formControlName="PaymentTerms"></textarea>
                                      <span class="descriptionStyle" showmore [value]="selectedPODetails.PaymentTerms"  *ngIf="hidetext"></span> 
                                  </div> 
                              </div>
                              <div class="row" style="margin-top:3em;">
                                  <div class="col-12"><h4 class="form-heading">Instructions to vendor</h4></div>
                                  <div class="col-12">
                                      <textarea *ngIf="hideinput" class="form-control" autoresize formControlName="Instructions"></textarea>
                                      <span class="descriptionStyle" showmore [value]="selectedPODetails.Instructions"  *ngIf="hidetext"></span> 
                                  </div>   
                              </div>
                              <div class="row" style="margin-top:3em;">
                                  <div class="col-12"><h4 class="form-heading">Justifications</h4></div>  
                                  <div class="col-12">
                                      <textarea *ngIf="hideinput" class="form-control" autoresize  formControlName="Justifications" >
                                      </textarea>
                                      <span class="descriptionStyle" showmore [value]="selectedPODetails.Justifications" *ngIf="hidetext"></span>
                                  </div>   
                              </div>
                              <div class="row" style="margin-top:3em;">
                                  <div class="col-12"><h4 class="form-heading">Delivery Terms</h4></div>  
                                  <div class="col-12">
                                      <textarea *ngIf="hideinput" class="form-control" autoresize  formControlName="DeliveryTerm" >
                                      </textarea>
                                      <span class="descriptionStyle" showmore [value]="selectedPODetails.DeliveryTerm"  *ngIf="hidetext"></span>
                                  </div>   
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="row" style="margin-top:3em;">
                                      <div class="col-12"><h4 class="form-heading">Attachments</h4></div>
                                      <div class="col-12 attachments" *ngIf="selectedPODetails!=undefined">
                                          <ul>
                                              <li *ngFor="let data of selectedPODetails.Attachments;let i=index">
                                                  <span>
                                                      <span class="displayFileName">
                                                          {{ data.FileName }}
                                                      </span>
                                                      <a style="color:black;" *ngIf="hidetext" href="{{apiEndPoint}}/PurchaseOrderFileDownload?AttachmentId={{ data.AttachmentId }}&AttachmentTypeId={{ data.AttachmentTypeId }}&FileName={{data.FileName}}&RecordId={{data.RecordId}}">
                                                          <i class="fa fa-download"></i>
                                                      </a>
                                                          &nbsp;&nbsp;
                                                      <i *ngIf="hideinput" (click)="attachmentDelete(i)" class="fa fa-trash">   
                                                      </i>
                                                  </span>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="col-12" *ngIf="hideinput">
                                          <div class="col-12">
                                                  <input type="file" multiple (change)="onFileUploadChange($event)" name="file">
                                          </div> 
                                          <div class="col-12">
                                              <ul class="fileList">
                                                  <li  *ngFor="let data of uploadedFiles;let i = index">
                                                      <span>
                                                          <span class="fileName">
                                                              {{ data.name }}
                                                          </span>
                                                          <i class="fa fa-close" (click)="onFileClose(i)"></i>
                                                      </span>
                                                      <br>
                                                      <span class="fileSize">{{ data.size/1024 }} KB</span>
                                                  </li>
                                              </ul>
                                          </div> 
                                      </div>   
                              </div>
                          </div>
                      </div>
      
                  </div>
                  <!-- <div style="clear: both;"></div> -->
      
                  </div>
                  <div class="row">
                      <div class="col-12">
                  <div class="form-group text-right btn-list">
                      <button type="submit" (click)="saveRecord()"  class="btn btn-save" *ngIf="hideinput"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
                      <button type="submit" (click)="cancelRecord()"  class="btn btn-cancel" *ngIf="hideinput"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                      <button type="submit" (click)="editRecord()" class="btn btn-edit" *ngIf="hidetext"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                      <button type="submit" (click)="deleteRecord()"  class="btn btn-delete" *ngIf="hidetext"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                  </div>
                  </div>
                  </div>   
                  </form>
              </div>
          </div><!-- left col end here-->
        </div>
      </div>
      
      <ng-template #itemMasterTemplate let-r="result" let-t="term">
              {{ r.ItemName }}
      </ng-template>
      
      <ng-template #supplierTemplate let-r="result" let-t="term">
          {{ r.SupplierName }}
      </ng-template>
                
         