<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 padding-null tittlediv">
      <h3 class="item-heading">  Change Password </h3>
    </div>   
  </div>
  <div class="row">
      <div #rightPanel class="col-lg-12 col-md-12" [class.expand-rightcol]="rightSection">
                <div class="row fullScreenLabel">
                    <div class="col-12">
                        <h3 class="item-heading" style="float:none;">Change Password</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="changePasswordForm" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-2   form-label">Current Password</label>
                                <div  class="col-lg-4  ">        
                                    <input tabindex="1"  autocomplete="off" 
                                    type="password" formControlName="CurrentPassword" class="form-control">      
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-2   form-label">New Password</label>
                                <div  class="col-lg-4  ">        
                                    <input tabindex="2"  autocomplete="off" 
                                    type="password" formControlName="NewPassword" class="form-control">      
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-form-label col-lg-2   form-label">Confirm Password</label>
                                <div  class="col-lg-4  ">        
                                    <input tabindex="3"  autocomplete="off" 
                                    type="password" formControlName="ConfirmPassword" class="form-control">    
                                    <!-- password   -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-6 error">
                                    {{filterMessage}}
                                </div>
                            </div>

                            <div class="form-group row">  
                                <div class="col-6" style="text-align: right">
                                    <button type="submit" (click)="saveRecord()" class="btn btn-save">
                                        <i class="fa fa-check" ria-hidden="true"></i> Save</button>   
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
       
      </div>
  </div>
</div>


